@font-face {
    font-family: "sgothic-bdcap";
    src: url("../fonts/upc_sgothic-bdcap-webfont.eot");
    src: url("../fonts/upc_sgothic-bdcap-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/upc_sgothic-bdcap-webfont.woff") format("woff"), url("../fonts/upc_sgothic-bdcap-webfont.ttf") format("truetype"), url("../fonts/upc_sgothic-bdcap-webfont.svg#fonts/upc_sgothic-bdcap-webfont") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "sgothic-rgcap";
    src: url("../fonts/upc_sgothic-rgcap-webfont.eot");
    src: url("../fonts/upc_sgothic-rgcap-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/upc_sgothic-rgcap-webfont.woff") format("woff"), url("../fonts/upc_sgothic-rgcap-webfont.ttf") format("truetype"), url("../fonts/upc_sgothic-rgcap-webfont.svg#fonts/upc_sgothic-rgcap-webfont") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "sgothic-stencilcap";
    src: url("../fonts/upc_sgothic-stencilcap-webfont.eot");
    src: url("../fonts/upc_sgothic-stencilcap-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/upc_sgothic-stencilcap-webfont.woff") format("woff"), url("../fonts/upc_sgothic-stencilcap-webfont.ttf") format("truetype"), url("../fonts/upc_sgothic-stencilcap-webfont.svg#fonts/upc_sgothic-stencilcap-webfont") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "zizou-slab-regular";
    src: url("../fonts/zizou-slab-regular.eot");
    src: url("../fonts/zizou-slab-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/zizou-slab-regular.woff") format("woff"), url("../fonts/zizou-slab-regular.ttf") format("truetype"), url("../fonts/zizou-slab-regular.svg#fonts/zizou-slab-regular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "zizou-slab-bold";
    src: url("../fonts/zizou-slab-bold.eot");
    src: url("../fonts/zizou-slab-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/zizou-slab-bold.woff") format("woff"), url("../fonts/zizou-slab-bold.ttf") format("truetype"), url("../fonts/zizou-slab-bold.svg#fonts/zizou-slab-bold") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'zizou-slab-light';
    src: url('../fonts/zizou-slab-light.eot');
    src: url('../fonts/zizou-slab-light.eot?#iefix') format('embedded-opentype'), url('../fonts/zizou-slab-light.woff') format('woff'), url('../fonts/zizou-slab-light.ttf') format('truetype'), url('../fonts/zizou-slab-light.svg#zizou-slab-light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "helvetica-neue";
    src: url("../fonts/HelveticaNeueLTPro-BdCn.eot");
    src: url("../fonts/HelveticaNeueLTPro-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTPro-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTPro-BdCn.ttf") format("truetype"), url("../fonts/HelveticaNeueLTPro-BdCn.svg#fonts/HelveticaNeueLTPro-BdCn") format("svg");
    font-weight: normal;
    font-style: normal;
  }
