@charset "UTF-8";
.font-zizou-slab-bold {
  font-family: "zizou-slab-bold";
}
.font-zizou-slab-light {
  font-family: "zizou-slab-light";
}
.font-zizou-slab-regular {
  font-family: "zizou-slab-regular";
}
.font-helvetica {
  font-family: "helvetica";
}
.font-helvetica-neue {
  font-family: "helvetica-neue";
}
.font-sgothic-bdcap {
  font-family: "sgothic-bdcap";
}
.font-sgothic-rgcap {
  font-family: "sgothic-rgcap";
}
.font-sgothic-stencilcap {
  font-family: "sgothic-stencilcap";
}

.bg-danger {
  background-color: #ff0201 !important;
}

.text-danger {
  color: #ff0201 !important;
}

.border-danger {
  border: 5px solid #ff0201 !important;
}

.btn-danger {
  background-color: #ff0201;
}
.btn-danger:hover {
  background-color: #ff0201;
}

.lh-1 {
  line-height: 1.2;
}

.loading {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

.border-soft {
  border-color: #DDDDDD;
}

.min-vh-100 {
  min-height: 100vh !important;
}
.min-vh-75 {
  min-height: 75vh !important;
}
.min-vh-50 {
  min-height: 50vh !important;
}
.min-vh-30 {
  min-height: 30vh !important;
}
.min-vh-25 {
  min-height: 25vh !important;
}
.min-vh-10 {
  min-height: 10vh !important;
}

.vh-75 {
  height: 75vh !important;
}
.vh-50 {
  height: 50vh !important;
}
.vh-30 {
  height: 30vh !important;
}
.vh-25 {
  height: 25vh !important;
}
.vh-10 {
  height: 10vh !important;
}

.vw-75 {
  width: 75vw !important;
}
.vw-50 {
  width: 50vw !important;
}
.vw-30 {
  width: 30vw !important;
}
.vw-25 {
  width: 25vw !important;
}
.vw-10 {
  width: 10vw !important;
}

@media (min-width: 576px) {
  .min-w-sm-25 {
    min-width: 25% !important;
  }
}
.min-w-50 {
  min-width: 50% !important;
}

@media (min-width: 576px) {
  .w-sm-50 {
    width: 50% !important;
  }
}
@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }
}

.landing .header {
  background-image: url("../img/banner-01.jpg");
  background-size: cover;
  background-position: center center;
}
.landing .header .logo-upc {
  height: 4rem;
}
.landing .section-steps {
  background-image: url("../img/section-steps.jpg");
  background-size: cover;
  background-position: center center;
}
.landing #tab-step-tab.nav-pills .nav-link.active {
  background-color: #767676;
  color: #fff !important;
}
@media (min-width: 768px) {
  .landing #tab-step-tab.nav-pills .nav-link.active {
    border-right: 0px !important;
    margin-right: 0px !important;
  }
}
.landing .footer {
  background-color: #222222;
}

.dashboard .header {
  background-image: url("../img/dashboard/header.jpg");
  background-position: center center;
  background-size: cover;
}
.dashboard .select-wrapper {
  position: relative;
}
.dashboard .select-wrapper:before {
  color: #ff0201;
  content: "";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  pointer-events: none;
  position: absolute;
  right: 1.5rem;
  top: 1.25rem;
}
.dashboard #nav-steps .nav-pills .nav-link {
  background-color: initial;
  text-align: center;
}
.dashboard #nav-steps .nav-pills .nav-link span {
  background-color: #e5e5e5;
  display: inline-block;
}
.dashboard #nav-steps .nav-pills .nav-link.active span {
  background-color: #ff0201;
  padding: 10px !important;
}

.thanks .header {
  background-image: url("../img/header-thanks.jpg");
  background-position: center center;
  background-size: cover;
}

.mentores .header {
  background-image: url("../img/header-mentores.jpg");
  background-position: center center;
  background-size: cover;
}
.mentores .footer {
  background-color: #222222;
}

.mentor-preguntas .header {
  background-image: url("../img/header-mentor-preguntas.png");
  background-position: center center;
  background-size: cover;
}
.mentor-preguntas .footer {
  background-color: #222222;
}

#sidebar-menu {
  z-index: 999;
  margin-left: -75%;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 576px) {
  #sidebar-menu {
    margin-left: -50%;
  }
}
@media (min-width: 768px) {
  #sidebar-menu {
    margin-left: -25%;
  }
}
#sidebar-menu.expanded {
  margin-left: 0px !important;
}
#sidebar-menu > ul.list-unstyled li a:hover {
  background-color: #ff0201 !important;
  color: #FFF !important;
}

.preguntas .header {
  background-image: url("../img/header-preguntas.jpg");
  background-position: center center;
  background-size: cover;
}
.preguntas .footer {
  background-color: #222222;
}

.consejos .header {
  background-image: url("../img/header-consejos.jpg");
  background-position: center center;
  background-size: cover;
}
.consejos .footer {
  background-color: #222222;
}

.mentor-index .header {
  background-image: url("../img/header-mentor-index.png");
  background-position: center center;
  background-size: cover;
}
.mentor-index .btn-facebook {
  background-color: #3b5998;
  color: white;
}
.mentor-index .btn-facebook:hover {
  background-color: #2d4373;
}
.mentor-index .btn-linkedin {
  background-color: #0077b5;
  color: white;
}
.mentor-index .btn-linkedin:hover {
  background-color: #005582;
}
.mentor-index .section-steps {
  background-image: url("../img/section-steps.jpg");
  background-size: cover;
  background-position: center center;
}
.mentor-index #tab-step-tab.nav-pills .nav-link.active {
  background-color: #767676;
  color: #fff !important;
}
@media (min-width: 768px) {
  .mentor-index #tab-step-tab.nav-pills .nav-link.active {
    border-right: 0px !important;
    margin-right: 0px !important;
  }
}
.mentor-index .footer {
  background-color: #222222;
}

.mentor-form .header {
  background-image: url("../img/header-mentor-form.png");
  background-position: center center;
  background-size: cover;
}
.mentor-form .header-wrap {
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: -15px;
  margin-right: -15px;
}
.mentor-form .form-check {
  padding-top: 0.75rem;
}
.mentor-form #imageDrop {
  border-color: #dedfe1 !important;
}
.mentor-form #imageDrop > a {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.mentor-form #imageDrop > a strong {
  color: #007bff !important;
  font-weight: 400;
}
.mentor-form #imageDrop:hover > a {
  background-color: rgba(224, 225, 229, 0.9);
  display: block;
  opacity: 1;
}
.mentor-form input[type=checkbox] {
  -webkit-appearance: none;
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: 0.05rem;
  text-rendering: auto;
}
.mentor-form input[type=checkbox]:focus {
  outline: none;
}
.mentor-form input[type=checkbox]::before {
  color: #dedfe1;
  content: "";
}
.mentor-form input[type=checkbox]:checked {
  font-weight: 900;
}
.mentor-form input[type=checkbox]:checked::before {
  color: #007bff;
  content: "";
}
.mentor-form input[type=radio] {
  -webkit-appearance: none;
  font-family: "Font Awesome 5 Free";
  font-size: 1.25rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: 0.15rem;
  text-rendering: auto;
}
.mentor-form input[type=radio]:focus {
  outline: none;
}
.mentor-form input[type=radio]::before {
  color: #dedfe1;
  content: "";
}
.mentor-form input[type=radio]:checked {
  font-weight: 900;
}
.mentor-form input[type=radio]:checked::before {
  color: #007bff;
  content: "";
}
.mentor-form .form-check-label {
  padding-left: 0.5rem;
}
.mentor-form .col-form-label {
  padding-bottom: calc(.75rem + 1px);
  padding-top: calc(.75rem + 1px);
}
.mentor-form .custom-select-group > .fa-chevron-down {
  color: #dedfe1;
  right: 2rem;
  top: 1.15rem;
}
.mentor-form .custom-select-group select.form-control.is-valid, .mentor-form .custom-select-group select.form-control.ng-valid {
  background-image: none;
}
.mentor-form .custom-select-group select.form-control.is-valid ~ .fa-chevron-down, .mentor-form .custom-select-group select.form-control.ng-valid ~ .fa-chevron-down {
  color: #495057;
}
.mentor-form select.form-control {
  color: #dedfe1;
}
.mentor-form select.form-control.is-valid, .mentor-form select.form-control.ng-valid {
  color: #495057;
}
.mentor-form .form-control {
  border-color: #dedfe1;
  height: calc(2.25em + .75rem + 2px);
}
.mentor-form .form-control::placeholder {
  color: #dedfe1;
}
.mentor-form .form-control:focus {
  box-shadow: none;
  border-color: #ccc;
}
.mentor-form .form-control.is-invalid {
  border-color: #dedfe1;
}
.mentor-form .form-control.is-invalid:focus {
  box-shadow: none;
}
.mentor-form .form-control.is-valid {
  border-color: #ccc;
}
.mentor-form .form-control.is-valid:focus {
  box-shadow: none;
}
.mentor-form .footer {
  background-color: #222222;
}

select.form-control {
  -webkit-appearance: none;
}

.form-control-xl {
  height: calc(2em + 1.5rem + 4px);
  padding: 1rem 2rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.mentor-thanks .header {
  background-image: url("../img/header-mentor-form.png");
  background-position: center center;
  background-size: cover;
}
.mentor-thanks .header-wrap {
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: -15px;
  margin-right: -15px;
}
.mentor-thanks .footer {
  background-color: #222222;
}

.mentor-consejos .header {
  background-image: url("../img/header-mentor-consejos.jpg");
  background-position: center center;
  background-size: cover;
}
.mentor-consejos .footer {
  background-color: #222222;
}

.rounded-left-0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded-right-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/*# sourceMappingURL=theme.css.map */
