$color-primary: rgb(0, 123, 255);
$color-upc: #ff0201;
$color-dark: rgb(73, 80, 87);
$color-light-gray: #dedfe1;

.font- {
    &zizou-slab {
        &-bold {
            font-family: 'zizou-slab-bold';
        }
        &-light {
            font-family: 'zizou-slab-light';
        }
        &-regular {
            font-family: 'zizou-slab-regular';
        }
    }
    &helvetica {
        font-family: 'helvetica';

        &-neue {
            font-family: 'helvetica-neue';
        }
    }

    &sgothic {
        &-bdcap {
            font-family: 'sgothic-bdcap';
        }
        &-rgcap {
            font-family: 'sgothic-rgcap';
        }
        &-stencilcap {
            font-family: 'sgothic-stencilcap';
        }
    }
}

.bg-danger {
    background-color: $color-upc !important;
}

.text-danger {
    color: $color-upc !important;
}

.border-danger {
    border: 5px solid $color-upc !important;
}

.btn-danger {
    background-color: $color-upc;

    &:hover {
        background-color: $color-upc;
    }
}

.lh- {
    &1 {
        line-height: 1.2;
    }
}

.loading {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.border-soft {
    border-color: #DDDDDD;
}

.min-vh- {
    &100 {
        min-height: 100vh!important;
    }
    &75 {
        min-height: 75vh!important;
    }
    &50 {
        min-height: 50vh!important;
    }
    &30 {
        min-height: 30vh!important;
    }
    &25 {
        min-height: 25vh!important;
    }
    &10 {
        min-height: 10vh!important;
    }
}

.vh- {
    &75 {
        height: 75vh!important;
    }
    &50 {
        height: 50vh!important;
    }
    &30 {
        height: 30vh!important;
    }
    &25 {
        height: 25vh!important;
    }
    &10 {
        height: 10vh!important;
    }
}

.vw- {
    &75 {
        width: 75vw!important;
    }
    &50 {
        width: 50vw!important;
    }
    &30 {
        width: 30vw!important;
    }
    &25 {
        width: 25vw!important;
    }
    &10 {
        width: 10vw!important;
    }
}

.min {
    &-w {
        &-sm {
            &-25 {
                @media (min-width:576px) {
                    min-width: 25%!important;
                }
            }
        }

        &-50 {
            min-width: 50%!important;
        }
    }
}

.w {
    &-sm {
        &-50 {
            @media (min-width: 576px){
                width: 50%!important;
            }
        }
    }

    &-md {
        &-25 {
            @media (min-width: 768px){
                width: 25%!important;
            }
        }
    }
}

.landing {
    .header {
        background-image: url('../img/banner-01.jpg');
        background-size: cover;
        background-position: center center;

        .logo-upc {
            height: 4rem;
        }
    }

    .section {
        &-steps {
            background-image: url('../img/section-steps.jpg');
            background-size: cover;
            background-position: center center;
        }
    }

    #tab-step-tab {
        &.nav-pills {
            .nav-link {
                &.active {
                    background-color: #767676;
                    color: #fff !important;

                    @media (min-width: 768px){
                        border-right: 0px !important;
                        margin-right: 0px !important;
                    }
                }
            }
        }
    }

    .footer {
        background-color: #222222;
    }
}

.dashboard {
    .header {
        background-image: url('../img/dashboard/header.jpg');
        background-position: center center;
        background-size: cover;
    }

    .select-wrapper {
        > span {
            font-size: 1.5rem;
            right: 2.5rem;
            top: 1rem;
        }
    }

    #nav-steps {
        .nav-pills {
            .nav-link {
                background-color: initial;
                text-align: center;

                span {
                    background-color: #e5e5e5;
                    display: inline-block;
                }

                &.active {
                    span {
                        background-color: $color-upc;
                        padding: 10px !important;
                    }
                }
            }
        }
    }
}

.thanks {
    .header {
        background-image: url('../img/header-thanks.jpg');
        background-position: center center;
        background-size: cover;
    }
}

.mentores {
    .header {
        background-image: url('../img/header-mentores.jpg');
        background-position: center center;
        background-size: cover;
    }

    .footer {
        background-color: #222222;
    }
}

.mentor-preguntas {
    .header {
        background-image: url('../img/header-mentor-preguntas.png');
        background-position: center center;
        background-size: cover;
    }

    .footer {
        background-color: #222222;
    }
}


#sidebar-menu {
    z-index: 999;
    margin-left: -75%;
    transition: all .5s ease-in-out;

    @media (min-width: 576px) {
        margin-left: -50%;
    }

    @media (min-width: 768px) {
        margin-left: -25%;
    }

    &.expanded {
        margin-left: 0px!important;
    }

    > ul.list-unstyled {
        li {
            a {
                &:hover {
                    background-color: $color-upc!important;
                    color: #FFF!important;
                }
            }
        }
    }
}

.preguntas {
    .header {
        background-image: url('../img/header-preguntas.jpg');
        background-position: center center;
        background-size: cover;
    }

    .footer {
        background-color: #222222;
    }
}

.consejos {
    .header {
        background-image: url('../img/header-consejos.jpg');
        background-position: center center;
        background-size: cover;
    }

    .footer {
        background-color: #222222;
    }
}

.mentor-index {
    .header {
        background-image: url('../img/header-mentor-index.png');
        background-position: center center;
        background-size: cover;
    }

    .btn {
        &-facebook {
            background-color: rgb(59,89,152);
            color: rgb(255,255,255);

            &:hover {
                background-color: darken(rgb(59,89,152), 10%);
            }
        }

        &-linkedin {
            background-color: rgb(0,119,181);
            color: rgb(255,255,255);

            &:hover {
                background-color: darken(rgb(0,119,181), 10%);
            }
        }
    }

    .section {
        &-steps {
            background-image: url('../img/section-steps.jpg');
            background-size: cover;
            background-position: center center;
        }
    }

    #tab-step-tab {
        &.nav-pills {
            .nav-link {
                &.active {
                    background-color: #767676;
                    color: #fff !important;

                    @media (min-width: 768px){
                        border-right: 0px !important;
                        margin-right: 0px !important;
                    }
                }
            }
        }
    }

    .footer {
        background-color: #222222;
    }
}

.mentor-form {
    .header {
        background-image: url('../img/header-mentor-form.png');
        background-position: center center;
        background-size: cover;

        &-wrap {
            background-color: rgba(0,0,0,0.4);
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .form-check {
        padding-top: .75rem;
    }

    #imageDrop {
        border-color: $color-light-gray!important;

        & > a {
            transition: all .5s ease-in-out;
            opacity: 0;

            strong {
                color: $color-primary!important;
                font-weight: 400;
            }
        }

        &:hover {
            & > a {
                background-color: rgba(224, 225, 229, 0.9);
                display: block;
                opacity: 1;
            }
        }
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        font-family: "Font Awesome 5 Free";
        font-size: 1.5rem;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 1;
        margin-top: .05rem;
        text-rendering: auto;

        &:focus {
            outline: none;
        }

        &::before{
            color: $color-light-gray;
            content: "\f0c8";
        }
    }

    input[type="checkbox"]:checked {
        font-weight: 900;

        &::before {
            color: $color-primary;
            content: "\f14a";
        }
    }

    input[type="radio"] {
        -webkit-appearance: none;
        font-family: "Font Awesome 5 Free";
        font-size: 1.25rem;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 1;
        margin-top: .15rem;
        text-rendering: auto;

        &:focus {
            outline: none;
        }

        &::before{
            color: $color-light-gray;
            content: "\f111";
        }
    }

    input[type="radio"]:checked {
        font-weight: 900;

        &::before {
            color: $color-primary;
            content: "\f192";
        }
    }

    .form-check-label {
        padding-left: .5rem;
    }

    .col-form-label {
        padding-bottom: calc(.75rem + 1px);
        padding-top: calc(.75rem + 1px);
    }

    .custom-select-group {
        & > .fa-chevron-down {
            color: $color-light-gray;
            right: 2rem;
            top: 1.15rem;
        }

        select.form-control {
            &.is-valid, &.ng-valid {
                background-image: none;

                & ~ .fa-chevron-down {
                    color: $color-dark;
                }
            }
        }
    }

    select.form-control {
        color: $color-light-gray;

        &.is-valid, &.ng-valid {
            color: $color-dark;
        }
    }

    .form-control {
        border-color: $color-light-gray;
        height: calc(2.25em + .75rem + 2px);

        &::placeholder{
            color:$color-light-gray;
        }

        &:focus {
            box-shadow: none;
            border-color: #ccc;
        }

        &.is-invalid {
            border-color: $color-light-gray;

            &:focus {
                box-shadow: none;
            }
        }

        &.is-valid {
            border-color: #ccc;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .footer {
        background-color: #222222;
    }
}



.form-control {
    @at-root select#{&} {
        -webkit-appearance: none;
    }

    &-xl {
        height: calc(2em + 1.5rem + 4px);
        padding: 1rem 2rem;
        font-size: 1.25rem;
        line-height: 1.5;
    }
}

.mentor-thanks {
    .header {
        background-image: url('../img/header-mentor-form.png');
        background-position: center center;
        background-size: cover;

        &-wrap {
            background-color: rgba(0,0,0,0.4);
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .footer {
        background-color: #222222;
    }
}

.mentor-consejos {
    .header {
        background-image: url('../img/header-mentor-consejos.jpg');
        background-position: center center;
        background-size: cover;
    }

    .footer {
        background-color: #222222;
    }
}

.rounded-left-0 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.rounded-right-0 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
