{% load static %}
<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

		<title>UPC - Preguntas Frecuentes</title>
	</head>
	<body class="preguntas">
    <nav id="sidebar-menu" class="bg-white min-vh-100 position-fixed w-md-25 w-sm-50 w-75" aria-labelledby="sidebar-menu-button">
      <div class="p-3 p-md-5 text-right">
        <a class="h1 text-dark" href="#sidebar-menu"><i class="fas fa-times"></i></a>
      </div>
      <ul class="list-unstyled">
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:home_mentee' %}">Inicio</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:form_mentee' %}">Iniciar</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:mentore_mentee' %}">Mentores</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:consejos_mentee' %}">Consejos</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:ask_mentee' %}">Preguntas</a></li>
      </ul>
    </nav>

    <header class="header position-relative">
      <div class="container">
        <div class="row py-4">
          <div class="col">
            <a class="h1 text-white text-decoration-none" href="#sidebar-menu" id="sidebar-menu-button"><i class="fas fa-bars"></i></a>
          </div>
          <div class="col pr-5 text-right">
            <img class="logo-upc img-fluid h-75" src="{% static 'img/logo_upc_white.png' %}" alt="UPC">
          </div>
        </div>
        <div class="row py-5 pl-3">
          <div class="col-12 col-md-6 p-5 text-white">
            <h3 class="font-zizou-slab-bold mb-0">Preguntas</h3>
            <h1 class="font-zizou-slab-bold">frecuentes</h1>
            <p class="font-zizou-slab-regular h5">¡Estamos aquí para resolver tus dudas!</p>
          </div>
        </div>
        <div class="row py-3 text-center"></div>
      </div>
    </header>

    <section class="container py-5 text-dark font-zizou-slab-regular">
      <div class="mb-5">
        <a
          class="font-zizou-slab-bold text-dark h5 d-block"
          data-toggle="collapse"
          href="#question1"
          role="button"
          aria-expanded="false"
          aria-controls="question1"
        >
          ¿Qué es Conexión Alumni?
          <i class="float-right fas fa-chevron-down"></i>
        </a>
        </p>
        <div class="collapse pr-5 h6" id="question1">
          Es una plataforma donde los estudiantes de UPC pueden conectar con un UPC Alumni de su carrera. Tenemos una comunidad de graduados que están listos y deseosos de compartir sus experiencias, aprendizaje y consejos.
        </div>
      </div>
      <div class="mb-5">
        <a
          class="font-zizou-slab-bold text-dark h5 d-block"
          data-toggle="collapse"
          href="#question2"
          role="button"
          aria-expanded="false"
          aria-controls="question2"
        >
          ¿Cómo uso este servicio?
          <i class="float-right fas fa-chevron-down"></i>
        </a>
        </p>
        <div class="collapse pr-5 h6" id="question2">
          Es fácil. Llena el formato de solicitud para indicarnos qué tipo de información o consejo necesitas. Te conectaremos con un Alumni que pueda ayudarte.
        </div>
      </div>
      <div class="mb-5">
        <a
          class="font-zizou-slab-bold text-dark h5 d-block"
          data-toggle="collapse"
          href="#question3"
          role="button"
          aria-expanded="false"
          aria-controls="question3"
        >
          ¿Cuánto tiempo tomará conectarme?
          <i class="float-right fas fa-chevron-down"></i>
        </a>
        </p>
        <div class="collapse pr-5 h6" id="question3">
          Depende en la disponibilidad del UPC Alumni, pero siempre trataremos de conectarte lo más rápido posible.
        </div>
      </div>
      <div class="mb-5">
        <a
          class="font-zizou-slab-bold text-dark h5 d-block"
          data-toggle="collapse"
          href="#question4"
          role="button"
          aria-expanded="false"
          aria-controls="question4"
        >
          ¿Cómo seleccionan al Alumni indicado para conectarme?
          <i class="float-right fas fa-chevron-down"></i>
        </a>
        </p>
        <div class="collapse pr-5 h6" id="question4">
          Conectamos estudiantes con Alumni basados en las características que comparten y disponibilidad, como desean conectarse y sobre que temas desean hablar. Dándonos la información más completa y exacta posible en tu formato de solicitud, nos ayudas a asegurar que te conectaremos con el mejor Alumni posible para tí.
        </div>
      </div>
      <div class="mb-5">
        <a
          class="font-zizou-slab-bold text-dark h5" d-block
          data-toggle="collapse"
          href="#question5"
          role="button"
          aria-expanded="false"
          aria-controls="question5"
        >
          ¿Qué sucede si no recibo la ayuda que necesito del Alumni con el que fui conectado?
          <i class="float-right fas fa-chevron-down"></i>
        </a>
        </p>
        <div class="collapse pr-5 h6" id="question5">
          Podemos buscar otro Alumni para conectar contigo o puedes enviarnos una nueva solicitud.
        </div>
      </div>
      <div class="mb-0">
        <a
          class="font-zizou-slab-bold text-dark h5 d-block"
          data-toggle="collapse"
          href="#question6"
          role="button"
          aria-expanded="false"
          aria-controls="question6"
        >
          ¿Qué sucede si un Alumni o yo preferimos reunirnos personalmente?
          <i class="float-right fas fa-chevron-down"></i>
        </a>
        </p>
        <div class="collapse pr-5 h6" id="question6">
          Tu y el UPC Alumni con el cual has sido conectado, pueden decidir reunirse personalmente. Nosotros proveemos información básica para ayudarlos a conectarse, por correo, teléfono o chat.
        </div>
      </div>

      <div class="py-5">
        Si tienes alguna pregunta adicional, escríbenos <a href="mailto:upcmentor@upc.pe" class="text-danger">upcmentor@upc.pe</a>
      </div>
      <div class="py-5 text-center">
        <a class="btn btn-dark btn-lg mr-2" href="{% url 'mentormatch_app:home_mentee' %}"><span class="font-sgothic-bdcap px-5">Volver</span></a>
        <a class="btn btn-danger btn-lg" href="{% url 'mentormatch_app:form_mentee' %}"><span class="font-sgothic-bdcap px-5">Iniciar</span></a>
      </div>
    </section>

    <footer class="footer py-5">
      <div class="container">
        <div class="d-flex row text-light">
          <div class="align-self-center col-12 col-md-2">
            <img class="mx-auto ml-sm-0 d-block img-fluid" src="{% static 'img/laureate.png' %}" alt="Laureate">
          </div>
          <div class="align-self-center col-12 col-md-7 pt-3 pt-sm-0 text-center">
            <span class="small text-center font-helvetica-neue">Prolongación Primavera 2390, Monterrico, Santiago de Surco - Teléfono: 313-33333 / 610-5030</span>
          </div>
          <div class="align-self-center col-12 col-md-3 pt-3 pt-sm-0 text-center text-md-right">
            <a class="text-light" target="_blank" href="https://www.facebook.com/upcedu/"><i class="fab fa-facebook-f"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://twitter.com/upcedu"><i class="fab fa-twitter"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://www.instagram.com/upc_peru_oficial/"><i class="fab fa-instagram"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://www.youtube.com/user/UPCedupe"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/faq.js' %}"></script>
	</body>
</html>
