{% load static %}
<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

		<title>UPC - Sigue estos consejos</title>
	</head>
	<body class="consejos">
    <nav id="sidebar-menu" class="bg-white min-vh-100 position-fixed w-md-25 w-sm-50 w-75" aria-labelledby="sidebar-menu-button">
      <div class="p-3 p-md-5 text-right">
        <a class="h1 text-dark" href="#sidebar-menu"><i class="fas fa-times"></i></a>
      </div>
      <ul class="list-unstyled">
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:home_mentee' %}">Inicio</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:form_mentee' %}">Iniciar</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:mentore_mentee' %}">Mentores</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:consejos_mentee' %}">Consejos</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:ask_mentee' %}">Preguntas</a></li>
      </ul>
    </nav>
    <header class="header position-relative">
      <div class="container">
        <div class="row py-4">
          <div class="col">
            <a class="h1 text-white text-decoration-none" href="#sidebar-menu" id="sidebar-menu-button"><i class="fas fa-bars"></i></a>
          </div>
          <div class="col pr-5 text-right">
            <img class="logo-upc img-fluid h-75" src="{% static 'img/logo_upc_white.png' %}" alt="UPC">
          </div>
        </div>
        <div class="row py-5 pl-3">
          <div class="col-12 col-md-6 p-5 text-white">
            <h3 class="font-zizou-slab-bold mb-0">Sigue estos</h3>
            <h1 class="font-zizou-slab-bold">consejos</h1>
            <p class="font-zizou-slab-regular h5">Contactar a un egresado de la UPC es una muy buena decisión.</p>
          </div>
        </div>
        <div class="row py-3 text-center"></div>
      </div>
    </header>

    <section class="container py-5 text-dark font-zizou-slab-regular">
      <div class="p-5 font-zizou-slab-regular">
        <p class="mb-5">Contactar a un egresado de la UPC es una muy buena decisión. Te damos algunos tips o consejos que te ayudarán a obtener el máximo provecho de esta experiencia.</p>

        <h5 class="font-zizou-slab-bold text-upper">1. SÉ CONSIDERADO</h5>
        <p class="mb-5">Piensa cuidadosamente sobre lo que te gustaría preguntar, teniendo en cuenta cómo un egresado de la UPC podría ayudarte.</p>

        <h5 class="font-zizou-slab-bold text-upper">2. PREPÁRATE</h5>
        <p class="mb-5">Define claramente tus objetivos para ésta conversación y asegúrate de leer la biografía corta provista por el egresado.</p>

        <h5 class="font-zizou-slab-bold text-upper">3. SÉ CONCISO</h5>
        <p class="mb-5">Nuestros egresados dedican tiempo de su día de trabajo para ofrecer consejo y soporte. Es importante respetar ese tiempo.</p>

        <h5 class="font-zizou-slab-bold text-upper">4. DEFINE TUS EXPECTATIVAS</h5>
        <p class="mb-5">Un egresado te puede ayudar en diversos temas; sin embargo, hay otros que pueden estar fuera de su alcance. Establece metas razonables para la conversación.</p>

        <h5 class="font-zizou-slab-bold text-upper">5. SÉ ABIERTO A RECIBIR FEEDBACK</h5>
        <p class="mb-5">En algunos casos estas conversaciones te retarán a pensar de forma diferente y ver las cosas desde otros puntos de vista. ¡Acepta los retos!</p>

        <h5 class="font-zizou-slab-bold text-upper">6. SEGUIMIENTO</h5>
        <p class="mb-5">Si acuerdas acciones que requieren seguimiento, sé responsable en trabajarlas según lo acordado. Define el avance de tus conversaciones y cómo te sientes respecto a estas.</p>
      </div>

      <div class="py-5 text-center">
        <a class="btn btn-dark btn-lg mr-2" href="{% url 'mentormatch_app:home_mentee' %}"><span class="font-sgothic-bdcap px-5">Volver</span></a>
        <a class="btn btn-danger btn-lg" href="{% url 'mentormatch_app:form_mentee' %}"><span class="font-sgothic-bdcap px-5">Iniciar</span></a>
      </div>
    </section>

    <footer class="footer py-5">
      <div class="container">
        <div class="d-flex row text-light">
          <div class="align-self-center col-12 col-md-2">
            <img class="mx-auto ml-sm-0 d-block img-fluid" src="{% static 'img/laureate.png' %}" alt="Laureate">
          </div>
          <div class="align-self-center col-12 col-md-7 pt-3 pt-sm-0 text-center">
            <span class="small text-center font-helvetica-neue">Prolongación Primavera 2390, Monterrico, Santiago de Surco - Teléfono: 313-33333 / 610-5030</span>
          </div>
          <div class="align-self-center col-12 col-md-3 pt-3 pt-sm-0 text-center text-md-right">
            <a class="text-light" target="_blank" href="https://www.facebook.com/upcedu/"><i class="fab fa-facebook-f"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://twitter.com/upcedu"><i class="fab fa-twitter"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://www.instagram.com/upc_peru_oficial/"><i class="fab fa-instagram"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://www.youtube.com/user/UPCedupe"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
	</body>
</html>
