{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mentorship</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
  </head>
  <body class="thanks">
    <nav id="sidebar-menu" class="bg-white min-vh-100 position-fixed w-md-25 w-sm-50 w-75" aria-labelledby="sidebar-menu-button">
      <div class="p-3 p-md-5 text-right">
        <a class="h1 text-dark" href="#sidebar-menu"><i class="fas fa-times"></i></a>
      </div>
      <ul class="list-unstyled">
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:home_mentee' %}">Inicio</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:form_mentee' %}">Iniciar</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:mentore_mentee' %}">Mentores</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:consejos_mentee' %}">Consejos</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:ask_mentee' %}">Preguntas</a></li>
      </ul>
    </nav>
    <header class="header">
      <div class="container">
        <div class="row py-5">
          <div class="col">
            <a class="h1 text-dark text-decoration-none" href="#sidebar-menu" id="sidebar-menu-button"><i class="fas fa-bars"></i></a>
          </div>
          <div class="col pr-5 text-right">
            <img class="h-75 logo-upc img-fluid" src="{% static 'img/logo_upc_white.png' %}" alt="UPC">
          </div>
        </div>
        <div class="row px-5 pl-3">
          <div class="col-12 col-md-6 p-5">
            <h3 class="font-zizou-slab-bold text-white mb-0">Empieza a vivir</h3>
            <h1 class="font-zizou-slab-bold text-white">tu profesión</h1>
          </div>
        </div>
        <div class="row py-5 text-center">
          <div class="col"></div>
        </div>
      </div>
    </header>
    <section class="container py-5">
      <div class="text-center mx-5 py-5 border-bottom border-secondary">
        <img class="d-block mx-auto img-fluid mb-3" src="{% static 'img/check.jpg' %}" alt="{{ mentee_name }}">
        <h2 class="font-zizou-slab-bold text-secondary">Hola {{ mentee_name }}</h2>
        <h4 class="font-zizou-slab-regular text-secondary">¡Tu mentoría ha sido registrada!</h4>
      </div>
      <div class="p-5 text-center text-dark">
        <p class="h5 font-zizou-slab-regular mb-0 px-5">Te enviamos un correo electrónico con la información de tu mentor para que puedas llamarlo.</p>
        <p class="h5 font-zizou-slab-regular px-5">Ahora te invitamos a leer estos consejos y preguntas frecuentes para sacarle el mayor provecho de tu mentoría.</p>
      </div>
      <div class="px-5 pt-3 text-center">
        <a class="btn btn-secondary btn-lg font-sgothic-bdcap py-3 mr-3" href="{% url 'mentormatch_app:consejos_mentee' %}"><span class="px-5">Consejos<span></a>
        <a class="btn btn-danger btn-lg font-sgothic-bdcap py-3" href="{% url 'mentormatch_app:ask_mentee' %}"><span class="px-5">Preguntas frecuentes<span></a>
      </div>
    </section>

    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
  </body>
</html>
