{% load static %}
<!doctype html>
<html ng-app="mentorApp" lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

		<title>UPC Mentor</title>
	</head>
	<body class="landing">
    <nav id="sidebar-menu" class="bg-white min-vh-100 position-fixed w-md-25 w-sm-50 w-75" aria-labelledby="sidebar-menu-button">
      <div class="p-3 p-md-5 text-right">
        <a class="h1 text-dark" href="#sidebar-menu"><i class="fas fa-times"></i></a>
      </div>
      <ul class="list-unstyled">
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:home_mentee' %}">Inicio</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:form_mentee' %}">Iniciar</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:mentore_mentee' %}">Mentores</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:consejos_mentee' %}">Consejos</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:ask_mentee' %}">Preguntas</a></li>
      </ul>
    </nav>
    <header class="header">
      <div class="container min-vh-100 d-flex flex-column">
        <div class="row py-4">
          <div class="col">
            <a class="h1 text-dark text-decoration-none" href="#sidebar-menu" id="sidebar-menu-button"><i class="fas fa-bars"></i></a>
          </div>
          <div class="col pr-5 text-right">
            <img class="logo-upc img-fluid" src="{% static 'img/logo_upc_red.png' %}" alt="UPC">
          </div>
        </div>
        <div class="row py-5 pl-3 flex-fill">
          <div class="col-12 col-md-6 p-5 align-self-center">
            <h1 class="font-sgothic-bdcap text-danger">Mentor UPC</h1>
            <p class="font-zizou-slab-regular h5 mb-4">¿Tienes preguntas sobre tu carrera, la universidad o tu vida profesional?<br>Mentor UPC te dará las respuestas.</p>
            <a href="{% url 'mentormatch_app:form_mentee' %}" class="btn btn-lg btn-danger font-sgothic-bdcap"><span class="px-5">Iniciar</span></a>
          </div>
        </div>
      </div>
    </header>

    <section class="py-5">
      <div class="container py-1 py-sm-5">
        <div class="row d-md-flex">
          <div class="col-12 col-md-6 p-md-5 align-self-center mb-5 mb-sm-0">
            <h2 class="font-sgothic-bdcap text-danger">Mentor UPC</h2>
            <p class="font-zizou-slab-regular">Elegir una carrera y una universidad, puede significar muchos retos. Estamos preparados par apoyarte en esta etapa importante de tu vida.</p>
            <p class="font-zizou-slab-regular">Mentor UPC es el nuevo programa online de la UPC diseñado para <strong>conectar a ex alumnos con uno o más postulantes como tú</strong> que buscan seguir una carrera.</p>
          </div>
          <div class="col-12 col-md-6 py-md-5 align-self-center">
            <img class="img-fluid" src="{% static 'img/section-01.jpg' %}">
          </div>
        </div>
      </div>
    </section>

    <section class="pb-5">
      <div class="container pb-5">
        <h2 class="text-center font-zizou-slab-bold mb-5">¿Cómo funciona?</h2>
        <div class="row text-center">
          <div class="col">
            <div class="py-4 mb-4"><img class="img-fluid" src="{% static 'img/icon-consulta.png' %}"></div>
            <div class="px-5">
              <h5 class="font-zizou-slab-bold mb-0">Consulta a un mentor</h5>
              <p class="font-zizou-slab-light lh-1">Selecciona un tema de interés y tendremos un mentor para ti. Te llegarán sus datos para contactarte con él.</p>
            </div>
          </div>
          <div class="col">
            <div class="py-4 mb-4"><img class="img-fluid" src="{% static 'img/icon-mentoria.png' %}"></div>
            <div class="px-5">
              <h5 class="font-zizou-slab-bold mb-0">Mentoría online</h5>
              <p class="font-zizou-slab-light lh-1">Mentor UPC hace fácil que te puedas conectar con un profesional de tu carrera graduado de la UPC que compartirá sus aprendizajes y experiencias contigo.</p>
            </div>
          </div>
          <div class="col">
            <div class="py-4 mb-4"><img class="img-fluid" src="{% static 'img/icon-conecta.png' %}"></div>
            <div class="px-5">
              <h5 class="font-zizou-slab-bold mb-0">Conecta</h5>
              <p class="font-zizou-slab-light lh-1">Empieza a vivir tu experiencia con Mentor UPC y te ayudaremos a tomar la mejor decisión.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-steps py-5">
      <div class="container py-5 text-light">
        <div class="text-center mb-5">
          <h3 class="text-center font-sgothic-bdcap">Pasos para participar</h3>
          <p class="font-zizou-slab-regular">Puede participar siguiente estos tres pasos:</p>
        </div>

        <div class="mx-5">
          <div class="row f-flex align-items-center">
            <div class="col-12 col-md-3 text-white px-0">
              <div class="nav flex-column nav-pills" id="tab-step-tab" role="tablist" aria-orientation="vertical">
                <a id="tab-step-1-tab" data-toggle="pill" class="nav-link active d-block rounded-0 mr-sm-3 font-sgothic-bdcap h5 border border-white text-secondary py-3 px-5" href="#tab-step-1" aria-controls="tab-step-1" aria-selected="true">Paso 1: Inscríbete</a>
                <a id="tab-step-2-tab" data-toggle="pill" class="nav-link d-block rounded-0 mr-sm-3 font-sgothic-bdcap h5 border border-white text-secondary py-3 px-5" href="#tab-step-2" aria-controls="tab-step-2" aria-selected="false">Paso 2: Conéctate</a>
                <a id="tab-step-3-tab" data-toggle="pill" class="nav-link d-block rounded-0 mr-sm-3 font-sgothic-bdcap h5 border border-white text-secondary py-3 px-5" href="#tab-step-3" aria-controls="tab-step-3" aria-selected="false">Paso 3: Infórmate</a>
              </div>
            </div>
            <div class="col-12 col-md-9 px-0">
              <div class="tab-content p-1 p-sm-5 bg-white" id="tab-step-content">
                <div class="tab-pane fade show active" id="tab-step-1" rol="tabpanel" area-labelledby="tab-step-1-tab">
                  <div class="row p-1 p-sm-5 text-dark">
                    <div class="col-12 col-md-3 text-center text-sm-left mb-2 mb-sm-0">
                      <img class="img-fluid" src="{% static 'img/step-1.png' %}" alt="Inscríbete">
                    </div>
                    <div class="col-12 col-md-9 text-center text-sm-left">
                      <h3 class="font-zizou-slab-bold mb-4">Inscríbete</h3>
                      <p class="font-zizou-slab-regular mb-4 lh-1">Cuéntanos que tipo de ayuda estás buscando, ya sea una pregunta sobre la experiencia universitaria, tu carrera o la vida profesional que te espera.</p>
                      <a href="{% url 'mentormatch_app:form_mentee' %}" class="btn btn-lg btn-danger text-white"><span class="font-sgothic-bdcap px-5">Inscríbete</span></a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-step-2" rol="tabpanel" area-labelledby="tab-step-2-tab">
                  <div class="row p-1 p-sm-5 text-dark">
                    <div class="col-12 col-md-3 text-center text-sm-left mb-2 mb-sm-0">
                      <img class="img-fluid" src="{% static 'img/step-1.png' %}" alt="Inscríbete">
                    </div>
                    <div class="col-12 col-md-9 text-center text-sm-left">
                      <h3 class="font-zizou-slab-bold mb-4">Te conectamos</h3>
                      <p class="font-zizou-slab-regular mb-4 lh-1">Te conectaremos con un egresado de la universidad que pueda darte una orientación o consejo. Elije tu medio de contacto y empieza a conversar con tu mentor.</p>
                      <a href="{% url 'mentormatch_app:form_mentee' %}" class="btn btn-lg btn-danger text-white"><span class="font-sgothic-bdcap px-5">Inscríbete</span></a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-step-3" rol="tabpanel" area-labelledby="tab-step-3-tab">
                  <div class="row p-1 p-sm-5 text-dark">
                    <div class="col-12 col-md-3 text-center text-sm-left mb-2 mb-sm-0">
                      <img class="img-fluid" src="{% static 'img/step-1.png' %}" alt="Inscríbete">
                    </div>
                    <div class="col-12 col-md-9 text-center text-sm-left">
                      <h3 class="font-zizou-slab-bold mb-4">¿Necesitas ayuda?</h3>
                      <p class="font-zizou-slab-regular mb-4 lh-1">Te brindaremos información y apoyo durante el proceso para que puedas tomar una buena decisión en la elección de tu carrera.</p>
                      <a href="{% url 'mentormatch_app:form_mentee' %}" class="btn btn-lg btn-danger text-white"><span class="font-sgothic-bdcap px-5">Inscríbete</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light py-5">
      <div class="container py-1 py-sm-5 mb-5">
        <div class="text-center m-5">
          <h3 class="text-center font-sgothic-bdcap">¿Quiéres saber más?</h3>
          <p class="font-zizou-slab-light">Te damos un poco de información para que te prepares</p>
        </div>
        <div class="d-flex align-items-stretch row">
          <div class="col-12 col-md-4 p-3">
            <div class="border border-soft bg-white py-3 px-5 h-100">
              <div class="row">
                <div class="col-5"><img class="img-fluid" src="{% static 'img/icon-black-mentores.png' %}" alt="Mentores"></div>
                <div class="col-7">
                  <h4 class="font-sgothic-bdcap text-danger">Mentores</h4>
                  <p class="font-zizou-slab-light lh-1">Conoce el listado de los mentores que están dispuestos a ayudarte.</p>
                </div>
              </div>
              <div class="text-center">
                <a href="{% url 'mentormatch_app:mentore_mentee' %}" class="btn btn-dark"><span class="font-sgothic-bdcap px-4">Conoce más</span></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 p-3">
            <div class="border border-soft bg-white py-3 px-5 h-100">
              <div class="row">
                <div class="col-5"><img class="img-fluid" src="{% static 'img/icon-black-consejos.png' %}" alt="Mentores"></div>
                <div class="col-7">
                  <h4 class="font-sgothic-bdcap text-danger">Consejos</h4>
                  <p class="font-zizou-slab-light lh-1">Te ayudarán a sacarle provecho a esta experiencia.</p>
                </div>
              </div>
              <div class="text-center">
                <a href="{% url 'mentormatch_app:consejos_mentee' %}" class="btn btn-dark"><span class="font-sgothic-bdcap px-4">Ver consejos</span></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 p-3">
            <div class="border border-soft bg-white py-3 px-5 h-100">
              <div class="row">
                <div class="col-5"><img class="img-fluid" src="{% static 'img/icon-black-consultas.png' %}" alt="Mentores"></div>
                <div class="col-7">
                  <h4 class="font-sgothic-bdcap text-danger">Consultas</h4>
                  <p class="font-zizou-slab-light lh-1">Revisa las preguntas frecuentes para resolver tus dudas.</p>
                </div>
              </div>
              <div class="text-center">
                <a href="{% url 'mentormatch_app:ask_mentee' %}" class="btn btn-dark"><span class="font-sgothic-bdcap px-4">Ver preguntas</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer py-5">
      <div class="container">
        <div class="d-flex row text-light">
          <div class="align-self-center col-12 col-md-2">
            <img class="mx-auto ml-sm-0 d-block img-fluid" src="{% static 'img/laureate.png' %}" alt="Laureate">
          </div>
          <div class="align-self-center col-12 col-md-7 pt-3 pt-sm-0 text-center">
            <span class="small text-center font-helvetica-neue">Prolongación Primavera 2390, Monterrico, Santiago de Surco - Teléfono: 313-33333 / 610-5030</span>
          </div>
          <div class="align-self-center col-12 col-md-3 pt-3 pt-sm-0 text-center text-md-right">
            <a class="text-light" target="_blank" href="https://www.facebook.com/upcedu/"><i class="fab fa-facebook-f"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://twitter.com/upcedu"><i class="fab fa-twitter"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://www.instagram.com/upc_peru_oficial/"><i class="fab fa-instagram"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://www.youtube.com/user/UPCedupe"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </footer>

		<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
	</body>
</html>
