{% load static %}
<!doctype html>
<html ng-app="menteeApp" lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/theme.css' %}">

  <title>Mentor UPC</title>
</head>

<body class="dashboard position-relative" ng-controller="FormController">
  <nav id="sidebar-menu" class="bg-white min-vh-100 position-fixed w-md-25 w-sm-50 w-75"
    aria-labelledby="sidebar-menu-button">
    <div class="p-3 p-md-5 text-right">
      <a class="h1 text-dark" href="#sidebar-menu"><i class="fas fa-times"></i></a>
    </div>
    <ul class="list-unstyled">
      <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none"
          href="{% url 'mentormatch_app:home_mentee' %}">Inicio</a></li>
      <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none"
          href="{% url 'mentormatch_app:form_mentee' %}">Iniciar</a></li>
      <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none"
          href="{% url 'mentormatch_app:mentore_mentee' %}">Mentores</a></li>
      <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none"
          href="{% url 'mentormatch_app:consejos_mentee' %}">Consejos</a></li>
      <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none"
          href="{% url 'mentormatch_app:ask_mentee' %}">Preguntas</a></li>
    </ul>
  </nav>
  <div class="position-fixed h-100 p-md-5 mr-n3" style="top:0; right:0;" ng-if="user.step > 1">
    <div class="d-flex h-100">
      <div class="align-self-center">
        <nav id="nav-steps" class="navbar navbar-light">
          <nav class="nav nav-pills flex-column">
            <a class="nav-link mb-4" href="#" ng-click="nextStep(1)" ng-class="{'active': user.step == 1}"><span
                class="mx-auto p-1 rounded-circle"></span></a>
            <a class="nav-link mb-4" href="#" ng-click="nextStep(2)" ng-class="{'active': user.step == 2}"><span
                class="mx-auto p-1 rounded-circle"></span></a>
            <a class="nav-link mb-4" href="#" ng-click="nextStep(3)" ng-class="{'active': user.step == 3}"><span
                class="mx-auto p-1 rounded-circle"></span></a>
            <a class="nav-link mb-4" href="#" ng-click="nextStep(4)" ng-class="{'active': user.step == 4}"><span
                class="mx-auto p-1 rounded-circle"></span></a>
            <a class="nav-link" href="#" ng-click="nextStep(5)" ng-class="{'active': user.step == 5}"><span
                class="mx-auto p-1 rounded-circle"></span></a>
          </nav>
        </nav>
      </div>
    </div>
  </div>

  <section class="section step" id="step-1" data-step="1">
    <header class="header">
      <div class="container d-flex flex-column min-vh-75">
        <div class="row py-5">
          <div class="col">
            <a class="h1 text-white text-decoration-none" href="#sidebar-menu" id="sidebar-menu-button"><i
                class="fas fa-bars"></i></a>
          </div>
          <div class="col text-right">
            <img class="img-fluid h-75" src="{% static 'img/dashboard/logo_upc_white.png' %}">
          </div>
        </div>
        <div class="py-5 text-white d-flex flex-fill">
          <div class="align-self-center">
            <h3 class="font-zizou-slab-bold">Soluciona tus dudas con</h3>
            <h1 class="font-zizou-slab-bold mb-5">Mentor UPC</h1>
            <button class="btn btn-danger btn-lg font-sgothic-bdcap px-5" ng-click="nextStep(2)"><span
                class="px-3">Iniciar</span></button>
          </div>
        </div>
      </div>
    </header>
  </section>
  {% verbatim %}
  <section class="section step mr-5 mr-md-0" id="step-2" data-step="2" style="display:none;">
    <div class="container min-vh-100 d-flex justify-content-center position-relative">
      <div class="align-self-center text-center">
        <h2 class="font-zizou-slab-bold mb-5 text-dark">Elige una categoría</h2>
        <div class="row mb-5">
          <div class="col mb-5" ng-repeat="category in categoryList" ng-click="selectCategory(category)">
            <img class="d-block img-fluid mx-auto mb-3 border rounded"
              ng-class="{'border-danger' : category.code == user.category.code, 'border-secondary' : category.code != user.category.code }"
              ng-src="{{ category.image_url }}" ng-alt="{{ category.name }}">
            <h5 class="font-zizou-slab-regular">{{ category.name }}</h5>
          </div>
        </div>
        <div class="my-5">
          <button class="btn btn-lg btn-danger font-sgothic-bdcap px-5 py-3" ng-disabled="!user.category"
            ng-click="nextStep(3)"><span class="px-5">Siguiente</span></button>
        </div>
      </div>
    </div>
  </section>

  <section class="section step mr-5 mr-md-0" id="step-3" data-step="3" style="display:none;">
    <div class="container min-vh-100 d-flex justify-content-center">
      <div class="w-100 align-self-center text-center">
        <h2 class="font-zizou-slab-bold mb-5 text-dark">Elige un tema de interés y mentor</h2>
        <div class="row mb-5 d-flex justify-content-center">
          <div class="col-md-8">
            <div class="select-wrapper">
              <select class="form-control form-control-xl w-100 rounded-0" id="id_topic" name="topic"
                ng-change="selectTopic()" ng-model="user.topic"
                ng-options="option.name for option in topicList track by option.code"></select>
            </div>
          </div>
        </div>
        <div class="d-flex row mb-5 justify-content-center">
          <div class="col-md-3" ng-repeat="mentor in mentorList" ng-click="selectMentor(mentor)">
            <img class="img-fluid h-75 mb-3 rounded border"
              ng-class="{'border-danger' : mentor.document_number == user.mentor.document_number, 'border-secondary' : mentor.document_number != user.mentor.document_number }"
              ng-alt="{{ mentor.name }}" ng-src="{{ mentor.image_url }}">
            <div class="text-center text-md-left">
              <h5 class="font-zizou-slab-bold">{{ mentor.name }} {{ mentor.father_name }} {{ mentor.mother_name }}</h5>
              <h6 class="font-zizou-slab-regular">{{ mentor.professional_experiences[0].company }}</h6>
              <h6 class="font-zizou-slab-regular">{{ mentor.professional_experiences[0].position }}</h6>
            </div>
          </div>
        </div>
        <div class="my-5 pt-3">
          <button class="btn btn-lg btn-danger font-sgothic-bdcap px-5 py-3" ng-disabled="!user.mentor"
            ng-click="nextStep(4)"><span class="px-5">Siguiente</span></button>
        </div>
      </div>
    </div>
  </section>

  <section class="section step mr-5 mr-md-0" id="step-4" data-step="4" style="display:none;">
    <div class="container min-vh-100 d-flex justify-content-center">
      <div class="w-100 align-self-center text-center">
        <h2 class="font-zizou-slab-bold mb-5 text-dark">Elegir mentor</h2>

        <div class="row text-left">
          <div class="col-12 col-md-5">
            <div class="mb-5">
              <img class="img-fluid w-100 border border-secondary mb-5" ng-src="{{ user.mentor.image_url }}"
                ng-alt="{{ user.mentor.name }}">
              <h2 class="font-zizou-slab-bold mb-0">{{ user.mentor.name }} {{ user.mentor.father_name }}
                {{ user.mentor.mother_name }}</h2>
              <h5 class="font-zizou-slab-regular">{{ user.mentor.career.name }} ({{ user.mentor.graduation_year }})</h5>
            </div>
            <div>
              <h5 class="font-zizou-slab-bold text-danger mb-3">Formas de contacto</h5>
              {% endverbatim %}
              <div class="row">
                <div ng-if="user.mentor.contact_information.email.preferred"
                  class="col-2 border-right border-secondary">
                  <img src="{% static 'img/dashboard/contact-email.png' %}">
                </div>
                <div ng-if="user.mentor.contact_information.skype.preferred"
                  class="col-2 border-right border-secondary">
                  <img src="{% static 'img/dashboard/contact-skype.png' %}">
                </div>
                <div ng-if="user.mentor.contact_information.linkedin.preferred"
                  class="col-2 border-right border-secondary">
                  <img src="{% static 'img/dashboard/contact-linkedin.png' %}">
                </div>
                <div ng-if="user.mentor.contact_information.phone.preferred" class="col-2">
                  <img src="{% static 'img/dashboard/contact-whatsapp.png' %}">
                </div>
              </div>
              {% verbatim %}
            </div>
          </div>
          <div class="col-12 col-md-2"></div>
          <div class="col-12 col-md-5">
            <div class="mb-5">
              <h5 class=" text-danger mb-3 font-zizou-slab-regular">Experiencia laboral</h5>
              <p ng-repeat="exp in user.mentor.professional_experiences">
                <span class="h5 font-zizou-slab-bold mb-0">{{ exp.company }}</span><br>
                <span class="h5 font-zizou-slab-regular mb-0">{{ exp.position }}</span><br>
                <span class="h5 font-zizou-slab-regular mb-0">{{ exp.starting_date|date:'MMM' }} de
                  {{ exp.starting_date|date:'yyyy' }} - <span ng-if="exp.is_current_job">actualidad</span><span
                    ng-if="!exp.is_current_job">{{ exp.ending_date|date:'MMM' }} de
                    {{ exp.ending_date|date:'yyyy' }}</span></span>
              </p>
            </div>
            <div class="mb-5">
              <h5 class="font-zizou-slab-regular text-danger">Puedo ayudarte también en estos temas:</h5>
              <ul>
                <li ng-repeat="topic in user.mentor.topics | slice:0:3" class="h5 font-zizou-slab-regular mb-0">
                  {{ topic.name }}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="my-5 pt-3">
          <button class="btn btn-lg btn-dark font-sgothic-bdcap px-5 py-3 mr-md-3 mb-3 mb-md-0"
            ng-click="nextStep(3)"><span class="px-5">Regresar</span></button>
          <button class="btn btn-lg btn-danger font-sgothic-bdcap px-5 py-3" ng-click="nextStep(5)"><span
              class="px-5">Elegir mentor</span></button>
        </div>
      </div>
    </div>
  </section>

  <section class="section step mr-5 mr-md-0" id="step-5" data-step="5" style="display:none;">
    <div class="container min-vh-100 d-flex justify-content-center">
      <div class="w-100 align-self-center text-center">
        <h4 class="font-zizou-slab-regular mb-0 text-dark">Por último</h4>
        <h2 class="font-zizou-slab-bold mb-5 text-dark">confirma tu mentoría</h2>

        <div class="d-flex row">
          <div class="align-self-center col-12 col-md-5">
            {% endverbatim %}
            <img class="img-fluid" src="{% static 'img/dashboard/icon-confirm.png' %}" alt="Confirmar">
            {% verbatim %}
          </div>
          <div class="col-12 col-md-7 text-left">
            <div class="mb-5">
              <h5 class="mb-0 font-zizou-slab-regular">Mentee:</h5>
              <h4 class="font-zizou-slab-bold">{{ user.mentee.first_name }} {{ user.mentee.paternal_last_name }}
                {{ user.mentee.maternal_last_name }}</h4>
            </div>
            <div class="mb-5">
              <h5 class="mb-0 font-zizou-slab-regular">Carrera:</h5>
              <h4 class="font-zizou-slab-bold">{{ user.career.name }}</h4>
            </div>
            <div class="mb-5">
              <h5 class="mb-0 font-zizou-slab-regular">Tema:</h5>
              <h4 class="font-zizou-slab-bold">{{ user.topic.name }}</h4>
            </div>
            <div class="mb-5">
              <h5 class="mb-0 font-zizou-slab-regular">Mentor:</h5>
              <h4 class="font-zizou-slab-bold">{{ user.mentor.name }} {{ user.mentor.father_name }}
                {{ user.mentor.mother_name }}</h4>
            </div>
          </div>
        </div>

        <div class="my-5 pt-3">
          <button class="btn btn-lg btn-dark font-sgothic-bdcap px-5 py-3 mr-md-3 mb-3 mb-md-0"
            ng-click="nextStep(4)"><span class="px-5">Regresar</span></button>
          <button class="btn btn-lg btn-danger font-sgothic-bdcap px-5 py-3" ng-click="submitData()"><span
              class="px-5">Finalizar</span></button>
        </div>
      </div>
    </div>
  </section>

  <section ng-if="loading" class="loading min-vh-100 vw-100"></section>

  <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  {% endverbatim %}
  <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/angular/angular.min.js' %}"></script>
  <script src="{% static 'vendor/angular-cookies/angular-cookies.min.js' %}"></script>
  <script src="{% static 'js/menu.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>

</html>
