{% load static %}
<!doctype html>
<html ng-app="mentorList" lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

		<title>UPC - Nuestros Mentores</title>
	</head>
	<body class="mentores">
    <nav id="sidebar-menu" class="bg-white min-vh-100 position-fixed w-md-25 w-sm-50 w-75" aria-labelledby="sidebar-menu-button">
      <div class="p-3 p-md-5 text-right">
        <a class="h1 text-dark" href="#sidebar-menu"><i class="fas fa-times"></i></a>
      </div>
      <ul class="list-unstyled">
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:home_mentee' %}">Inicio</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:form_mentee' %}">Iniciar</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:mentore_mentee' %}">Mentores</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:consejos_mentee' %}">Consejos</a></li>
        <li class="h3 font-sgothic-bdcap"><a class="d-block py-2 px-3 px-md-5 text-dark text-decoration-none" href="{% url 'mentormatch_app:ask_mentee' %}">Preguntas</a></li>
      </ul>
    </nav>
    <header class="header position-relative">
      <div class="container">
        <div class="row py-4">
          <div class="col">
            <a class="h1 text-white text-decoration-none" href="#sidebar-menu" id="sidebar-menu-button"><i class="fas fa-bars"></i></a>
          </div>
          <div class="col pr-5 text-right">
            <img class="logo-upc img-fluid" src="{% static 'img/logo_upc_white.png' %}" alt="UPC">
          </div>
        </div>
        <div class="row py-5 pl-3">
          <div class="col-12 col-md-6 p-5 text-white">
            <h3 class="font-zizou-slab-bold mb-0">Nuestros</h3>
            <h1 class="font-zizou-slab-bold">mentores</h1>
            <p class="font-zizou-slab-regular h5">Excelentes profesionales dispuestos a ayudar.</p>
          </div>
        </div>
        <div class="row py-5 text-center"></div>
      </div>
    </header>

    <section class="container py-3" ng-controller="ListController">
      <div class="row py-5">
        <div class="col-12 col-md-7 mx-auto">
          <div class="row">
            <div class="col-8 col-md-9">
              <input
                class="form-control form-control-lg rounded-0 font-zizou-slab-regular"
                name="career"
                id="id_career"
                placeholder="Buscar por carrera"
                ng-model="career">
            </div>
            <div class="col-4 col-md-3">
              <button class="btn btn-lg btn-block btn-danger" ng-click="getMentorList()"><span class="font-sgothic-rgcap">Buscar</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        {% verbatim %}
          <div
            ng-repeat="mentor in mentorList"
            class="col-12 col-sm-6 col-md-3">
            <img
              class="img-fluid border border-secondary mb-3"
              ng-src="{{ mentor.image_url }}"
              ng-alt="{{ mentor.name }}">
            <h5 class="font-zizou-slab-bold text-dark mb-0">{{ mentor.name }} {{ mentor.father_name }} {{ mentor.mother_name }}</h5>
            <span class="h6 font-zizou-slab-regular text-dark">{{ mentor.professional_experiences[0].company }}</span><br>
            <span class="h6 font-zizou-slab-regular text-dark">{{ mentor.professional_experiences[0].position }}</span>
          </div>
        {% endverbatim %}
      </div>
      <div class="py-5 text-center">
        <a class="btn btn-dark btn-lg mr-2" href="{% url 'mentormatch_app:home_mentee' %}"><span class="font-sgothic-bdcap px-5">Volver</span></a>
        <a class="btn btn-danger btn-lg" href="{% url 'mentormatch_app:form_mentee' %}"><span class="font-sgothic-bdcap px-5">Iniciar</span></a>
      </div>
    </section>

    <footer class="footer py-5">
      <div class="container">
        <div class="d-flex row text-light">
          <div class="align-self-center col-12 col-md-2">
            <img class="mx-auto ml-sm-0 d-block img-fluid" src="{% static 'img/laureate.png' %}" alt="Laureate">
          </div>
          <div class="align-self-center col-12 col-md-7 pt-3 pt-sm-0 text-center">
            <span class="small text-center font-helvetica-neue">Prolongación Primavera 2390, Monterrico, Santiago de Surco - Teléfono: 313-33333 / 610-5030</span>
          </div>
          <div class="align-self-center col-12 col-md-3 pt-3 pt-sm-0 text-center text-md-right">
            <a class="text-light" target="_blank" href="https://www.facebook.com/upcedu/"><i class="fab fa-facebook-f"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://twitter.com/upcedu"><i class="fab fa-twitter"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://www.instagram.com/upc_peru_oficial/"><i class="fab fa-instagram"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://www.youtube.com/user/UPCedupe"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </footer>

		<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/angular/angular.min.js' %}"></script>
    <script src="{% static 'vendor/angular-cookies/angular-cookies.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/mentores.js' %}"></script>
	</body>
</html>
