{% load static %}
<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

		<title>UPC - Sigue estos consejos</title>
	</head>
	<body class="mentor-consejos">
    <header class="header position-relative">
      <div class="container">
        <div class="row py-4">
          <div class="col"></div>
          <div class="col pr-5 text-right">
            <img class="logo-upc img-fluid h-75" src="{% static 'img/logo_upc_white.png' %}" alt="UPC">
          </div>
        </div>
        <div class="row py-5 pl-3">
          <div class="col-12 col-md-6 p-5 text-white">
            <h3 class="font-zizou-slab-bold mb-0">Sigue estos</h3>
            <h1 class="font-zizou-slab-bold">consejos</h1>
            <p class="font-zizou-slab-regular h5">Consejos para ser un mejor mentor.</p>
          </div>
        </div>
        <div class="row py-3 text-center"></div>
      </div>
    </header>

    <section class="container py-5 text-dark font-zizou-slab-regular">
      <div class="p-5 font-zizou-slab-regular">
        <p class="mb-5">Te damos algunos tips que te ayudarán a ser un excelente apoyo para los postulantes y obtener el máximo provecho de esta experiencia.</p>

        <h5 class="font-zizou-slab-bold text-upper">1. APÓYALOS</h5>
        <p class="mb-5">Tú conoces las dificultades que se presentan durante la vida universitaria, todo el aliento que puedan recibir será de ayuda.</p>

        <h5 class="font-zizou-slab-bold text-upper">2. SÉ UN BUEN OYENTE</h5>
        <p class="mb-5">Escuchar y comprender las preguntas de los postulantes asegurará que puedas darles respuestas valiosas.</p>

        <h5 class="font-zizou-slab-bold text-upper">3. SÉ TU MISMO</h5>
        <p class="mb-5">Comparte lo que has aprendido, adecuándolo a las necesidades de los postulantes que estás apoyando. Ambos son personas únicas con experiencias únicas.</p>

        <h5 class="font-zizou-slab-bold text-upper">4. PLANTÉALES DESAFÍOS</h5>
        <p class="mb-5">Es bueno hacer preguntas retadoras a los postulantes y ayudarlos a través de tu experiencia a conocer los desafíos de esta nueva etapa.</p>

        <h5 class="font-zizou-slab-bold text-upper">5. SÉ CONSIDERADOR</h5>
        <p class="mb-5">Te recomendamos contactar al postulante asignado durante las primeras 48 horas luego de recibir sus datos.</p>

        <h5 class="font-zizou-slab-bold text-upper">6. DERÍVALO A OTROS EXPERTOS</h5>
        <p class="mb-5">Para consultas relacionadas a otros aspectos de la universidad fuera de tu alcance, te aconsejamos derivarlos al área de UPC pertinente.</p>
      </div>

      <div class="py-5 text-center">
        <a class="btn btn-dark btn-lg mr-2" href="{% url 'mentormatch_app:mentor_index' %}"><span class="font-sgothic-bdcap px-5">Volver</span></a>
        <a class="btn btn-danger btn-lg" href="{% url 'mentormatch_app:mentor_form' %}"><span class="font-sgothic-bdcap px-5">Iniciar</span></a>
      </div>
    </section>

    <footer class="footer py-5">
      <div class="container">
        <div class="d-flex row text-light">
          <div class="align-self-center col-12 col-md-2">
            <img class="mx-auto ml-sm-0 d-block img-fluid" src="{% static 'img/laureate.png' %}" alt="Laureate">
          </div>
          <div class="align-self-center col-12 col-md-7 pt-3 pt-sm-0 text-center">
            <span class="small text-center font-helvetica-neue">Prolongación Primavera 2390, Monterrico, Santiago de Surco - Teléfono: 313-33333 / 610-5030</span>
          </div>
          <div class="align-self-center col-12 col-md-3 pt-3 pt-sm-0 text-center text-md-right">
            <a class="text-light" target="_blank" href="https://www.facebook.com/upcedu/"><i class="fab fa-facebook-f"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://twitter.com/upcedu"><i class="fab fa-twitter"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://www.instagram.com/upc_peru_oficial/"><i class="fab fa-instagram"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://www.youtube.com/user/UPCedupe"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
	</body>
</html>
