{% load static %}
<!doctype html>
<html ng-app="mentorApp" lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

		<title>UPC :: Mentor</title>
	</head>
	<body class="mentor-form">
		<header class="bg-dark header container-fluid d-flex flex-column">
      <div class="header-wrap flex-fill py-5">
        <div class="container">
          <div class="row py-0 py-md-4">
            <div class="col text-right">
              <img class="logo-upc img-fluid h-75" src="{% static 'img/logo_upc_white.png' %}" alt="UPC">
            </div>
          </div>
          <div class="text-light py-5">
            <h3 class="font-zizou-slab-bold">Comparte tus</h3>
            <h1 class="font-zizou-slab-bold">experiencias</h1>
            <h6 class="font-zizou-slab-regular">Regístrate como Mentor y resuelve las dudas de<br>postulantes con tu experiencia en la UPC.</h6>
          </div>
        </div>
      </div>
		</header>

		<div class="container py-5" id="FormControllerId" ng-controller="FormController">
    {% verbatim %}
			<div class="py-4 text-center">
				<h2 class="pb-2 font-helvetica-neue">¡Bienvenido(a) {{ user.name }}!</h2>
				<p>Estamos muy contentos con tu decisión de compartir tus conocimientos y experiencias con postulantes a la UPC.<br>Para comenzar, cuéntanos sobre ti y tu experiencia laboral.</p>
			</div>

			<form name="mentorForm" method="post" action="" novalidate>
				<div class="row">
					<div class="form-group col-12 col-md-4">
						<input
							type="text"
							class="form-control"
							name="name"
							ng-model="user.name"
							id="id_name"
							placeholder="Ingresa tu nombre"
							ng-class="{'is-valid': mentorForm.name.$valid, 'is-invalid': !mentorForm.name.$valid && !mentorForm.name.$pristine}"
              ng-pattern="/[a-zA-z]/"
							required
						>
					</div>
					<div class="form-group col-12 col-md-4">
						<input
							type="text"
							class="form-control"
							name="father_name"
							ng-model="user.father_name"
							id="id_father_name"
							placeholder="Ingresa tu apellido paterno"
							ng-class="{'is-valid': mentorForm.father_name.$valid, 'is-invalid': !mentorForm.father_name.$valid && !mentorForm.father_name.$pristine}"
              ng-pattern="/[a-zA-z]/"
							required
						>
					</div>
					<div class="form-group col-12 col-md-4">
						<input
							type="text"
							class="form-control"
							name="mother_name"
							ng-model="user.mother_name"
							id="id_mother_name"
							placeholder="Ingresa tu apellido materno"
							ng-class="{'is-valid': mentorForm.mother_name.$valid, 'is-invalid': !mentorForm.mother_name.$valid && !mentorForm.mother_name.$pristine}"
              ng-pattern="/[a-zA-z]/"
							required
						>
					</div>
				</div>

        <div class="row">
					<div class="form-group col-12 col-md-4">
						<input
							type="email"
							class="form-control"
							name="contact_information_email"
							ng-model="user.contact_information.email.value"
							id="id_email"
							placeholder="Correo electrónico"
							ng-class="{'is-valid': mentorForm.contact_information_email.$valid, 'is-invalid': !mentorForm.contact_information_email.$valid && !mentorForm.contact_information_email.$pristine}"
              ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
							required
						>
					</div>
					<div class="form-group col-12 col-md-4">
						<input
							type="phone"
							class="form-control"
							name="contact_information_phone"
							ng-model="user.contact_information.phone.value"
							id="id_phone"
							placeholder="Número de celular"
							ng-class="{'is-valid': mentorForm.contact_information_phone.$valid, 'is-invalid': !mentorForm.contact_information_phone.$valid && !mentorForm.contact_information_phone.$pristine}"
              ng-pattern="/^9[0-9]{8}$/"
              ng-minlength="9"
              ng-maxlength="9"
							required
						>
					</div>
					<div class="form-group col-12 col-md-4 position-relative custom-select-group">
						<select
							class="form-control"
							name="graduation_year"
							ng-model="user.graduation_year"
							id="id_graduation_year"
							ng-class="{'is-valid': mentorForm.graduation_year.$valid && !mentorForm.graduation_year.$pristine}"
              ng-options="option.name for option in static_choices.graduation_year track by option.id"
              ng-focus="focusSelect($event)"
              ng-change="validateSelect()"
							required
						>
						</select>
            <i class="fas fa-chevron-down position-absolute"></i>
					</div>
				</div>

        <div class="row">
          <div class="form-group col-12 col-md-6 position-relative custom-select-group">
            <select
							class="form-control"
							name="career"
							ng-model="user.career"
							id="id_career"
							ng-class="{'is-valid': mentorForm.career.$valid && !mentorForm.career.$pristine}"
              ng-options="option.name for option in dynamic_choices.career track by option.id"
              ng-focus="focusSelect($event)"
              ng-change="validateSelect()"
						>
						</select>
            <i class="fas fa-chevron-down position-absolute"></i>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-md-6">
            <input
							class="d-none"
							id="id_photo"
							name="photo"
              type="file"
							ng-model="user.photo"
							ng-class="{'is-valid': mentorForm.photo.$valid && !mentorForm.photo.$pristine}"
						>
            <div
              id="imageDrop"
              class="bg-light border position-relative rounded text-center text-muted align-middle" ng-class="{'p-3 p-md-5': !user.image_url}"
              ondrop='angular.element(document.getElementById("FormControllerId")).scope().drop(event)'
              ondragover='angular.element(document.getElementById("FormControllerId")).scope().allowDrop(event)'
            >
              <a class="align-items-center d-flex h-100 p-3 p-md-5 position-absolute text-center text-reset text-decoration-none w-100" ng-click="selectImage()" href="">
                <span class="d-block w-100">
                  <img src="{% endverbatim %}{% static 'img/icon-image.png' %}{% verbatim %}" alt="Adjuntar imagen" class="d-block mb-4 mx-auto w-25">
                  <span>Arrastra y suelta o <strong>adjunta</strong> una imagen de perfil.<br>Tamaño mínimo 650 x 400 píxeles.</span>
                </span>
              </a>
              <img ng-if="user.image_url" class="img-fluid" ng-src="{{ user.image_url }}">
            </div>
          </div>
        </div>

        <div class="row pt-5" ng-repeat="experience in user.professional_experiences">
          <div class="col pb-5">
            <div class="row pb-3">
              <div class="form-group col-12 col-md-5">
                <input
                  type="text"
                  class="form-control"
                  name="professional_experiences-{{ $index }}-position"
                  ng-model="user.professional_experiences[$index].position"
                  id="id_professional_experiences-{{ $index }}-position"
                  placeholder="Cargo que ocupas"
                  ng-class="{'is-valid': mentorForm['professional_experiences-{{ $index }}-position'].$valid, 'is-invalid': !mentorForm['professional_experiences-{{ $index }}-position'].$valid && !mentorForm['professional_experiences-{{ $index }}-position'].$pristine}"
                  ng-required="$first"
                >
              </div>
              <div class="form-group col-12 col-md-5">
                <input
                  type="text"
                  class="form-control"
                  name="professional_experiences-{{ $index }}-company"
                  ng-model="user.professional_experiences[$index].company"
                  id="id_professional_experiences-{{ $index }}-company"
                  placeholder="Empresa"
                  ng-class="{'is-valid': mentorForm['professional_experiences-{{ $index }}-company'].$valid, 'is-invalid': !mentorForm['professional_experiences-{{ $index }}-company'].$valid && !mentorForm['professional_experiences-{{ $index }}-company'].$pristine}"
                  ng-required="user.professional_experiences[$index].position"
                >
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <label for="id_professional_experiences-{{ $index }}-start_date_month" class="col-12 col-md-2 col-form-label">De</label>
                  <div class="form-group col-6 col-md-5 position-relative custom-select-group">
                    <select
                      class="form-control"
                      name="professional_experiences-{{ $index }}-start_date_month"
                      ng-model="user.professional_experiences[$index].start_date_month"
                      ng-options="option.name for option in static_choices.month track by option.id"
                      ng-focus="focusSelect($event)"
                      ng-change="validateSelect()"
                      ng-class="{'is-valid': mentorForm['professional_experiences-{{ $index }}-start_date_month'].$valid && !mentorForm['professional_experiences-{{ $index }}-start_date_month'].$pristine}"
                      ng-required="user.professional_experiences[$index].company"
                      id="id_professional_experiences-{{ $index }}-start_date_month"
                    >
                    </select>
                    <i class="fas fa-chevron-down position-absolute"></i>
                  </div>
                  <div class="form-group col-6 col-md-5 position-relative custom-select-group">
                    <select
                      class="form-control"
                      name="professional_experiences-{{ $index }}-start_date_year"
                      ng-focus="focusSelect($event)"
                      ng-model="user.professional_experiences[$index].start_date_year"
                      ng-options="option.name for option in static_choices.year track by option.id"
                      ng-change="validateSelect()"
                      ng-class="{'is-valid': mentorForm['professional_experiences-{{ $index }}-start_date_year'].$valid && !mentorForm['professional_experiences-{{ $index }}-start_date_year'].$pristine}"
                      ng-required="user.professional_experiences[$index].start_date_month && user.professional_experiences[$index].start_date_month.id"
                      id="id_professional_experiences-{{ $index }}-start_date_year"
                    >
                    </select>
                    <i class="fas fa-chevron-down position-absolute"></i>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row" ng-if="user.professional_experiences[$index].is_current_job">
                  <div class="form-group form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      name="professional_experiences-{{ $index }}-is_current_job"
                      ng-model="user.professional_experiences[$index].is_current_job"
                      id="id_professional_experiences-{{ $index }}-is_current_job"
                    >
                    <label class="form-check-label" for="id_professional_experiences-{{ $index }}-is_current_job">Trabajo aquí actualmente</label>
                  </div>
                </div>
                <div class="row" ng-if="!user.professional_experiences[$index].is_current_job">
                  <label for="id_professional_experiences-{{ $index }}-end_date_month" class="col-12 col-md-2 col-form-label">Hasta</label>
                  <div class="form-group col-6 col-md-5 position-relative custom-select-group">
                    <select
                      class="form-control"
                      name="professional_experiences-{{ $index }}-end_date_month"
                      ng-focus="focusSelect($event)"
                      ng-model="user.professional_experiences[$index].end_date_month"
                      ng-options="option.name for option in static_choices.month track by option.id"
                      ng-change="validateSelect()"
                      ng-class="{'is-valid': mentorForm['professional_experiences-{{ $index }}-end_date_month'].$valid && !mentorForm['professional_experiences-{{ $index }}-end_date_month'].$pristine}"
                      ng-required="!user.professional_experiences[$index].is_current_job"
                      id="id_professional_experiences-{{ $index }}-end_date_month"
                    >
                    </select>
                    <i class="fas fa-chevron-down position-absolute"></i>
                  </div>
                  <div class="form-group col-6 col-md-5 position-relative custom-select-group">
                    <select
                      class="form-control"
                      name="professional_experiences-{{ $index }}-end_date_year"
                      ng-focus="focusSelect($event)"
                      ng-model="user.professional_experiences[$index].end_date_year"
                      ng-options="option.name for option in static_choices.year track by option.id"
                      ng-change="validateSelect()"
                      ng-class="{'is-valid': mentorForm['professional_experiences-{{ $index }}-end_date_year'].$valid && !mentorForm['professional_experiences-{{ $index }}-end_date_year'].$pristine}"
                      ng-required="user.professional_experiences[$index].end_date_month && user.professional_experiences[$index].end_date_month.id"
                      id="id_professional_experiences-{{ $index }}-end_date_year"
                    >
                    </select>
                    <i class="fas fa-chevron-down position-absolute"></i>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3 col-form-label">
                <a class="text-primary" ng-click="addAnother()" ng-if="$last">+ Añadir otra experiencia</a>
              </div>
            </div>
          </div>
        </div>

        <div class="pb-5">
          <p class="text-center py-3">¿En cuáles de los siguientes temas te gustaría brindar asesoría a alumnos de UPC? (puede seleccionar más de una opción)</p>
          <div class="row">
            <div class="col-12 col-md" ng-repeat="category in dynamic_choices.category">
              <h4 class="mb-5">{{ category.name }}</h4>
              <div class="form-group" ng-repeat="topic in category.topics">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="tempTopics[]"
                    ng-model="user.tempTopics[topic.code]"
                    value="{{ topic.code }}"
                    id="id_topic-{{ topic.code }}"
                  >
                  <label class="form-check-label" for="id_topic-{{ topic.code }}">{{ topic.name }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pb-5">
          <p class="text-center py-3">¿Cómo prefieres contactarte con los alumnos? (selecciona una o más opciones y coloca tu cuenta)</p>
          <div class="row">
            <div class="col form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  ng-model="user.contact_information.phone.preferred"
                  name="contact_cellphone"
                  id="id_contact_cellphone"
                  checked
                >
                <label class="form-check-label" for="id_contact_cellphone">
                  Teléfono
                </label>
              </div>
            </div>
            <div class="col form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  ng-model="user.contact_information.email.preferred"
                  name="contact_email"
                  id="id_contact_email"
                  checked
                >
                <label class="form-check-label" for="id_contact_email">
                  Correo electrónico
                </label>
              </div>
            </div>
            <div class="col form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  ng-model="user.contact_information.skype.preferred"
                  name="contact_has_skype"
                  id="id_contact_has_skype"
                  checked
                >
                <label class="form-check-label" for="id_contact_has_skype">
                  Skype
                </label>
              </div>
              <div class="form-group pt-3" ng-if="user.contact_information.skype.preferred">
                <input
                  class="form-control"
                  type="text"
                  id="id_contact_skype"
                  name="contact_skype"
                  ng-model="user.contact_information.skype.value"
                  ng-required="user.contact_information.skype.preferred"
                  placeholder="Ingresa tu usuario de Skype"
                  ng-class="{'is-valid': mentorForm.contact_skype.$valid && !mentorForm.contact_skype.$pristine}"
                >
              </div>
            </div>
            <div class="col form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  ng-model="user.contact_information.linkedin.preferred"
                  name="contact_has_linkedin"
                  id="id_contact_has_linkedin"
                  checked
                >
                <label class="form-check-label" for="id_contact_has_linkedin">
                  LinkedIn
                </label>
              </div>
              <div class="form-group pt-3" ng-if="user.contact_information.linkedin.preferred">
                <input
                  class="form-control"
                  type="text"
                  id="id_contact_linkedin"
                  name="contact_linkedin"
                  ng-model="user.contact_information.linkedin.value"
                  ng-required="user.contact_information.linkedin.preferred"
                  placeholder="Ingresa tu usuario de LinkedIn"
                  ng-class="{'is-valid': mentorForm.contact_linkedin.$valid && !mentorForm.contact_linkedin.$pristine}"
                >
              </div>
            </div>
          </div>
        </div>

        <div class="pb-5">
          <p class="text-center py-3">Elije tu disponibilidad para ser mentor (recuerda que la sesión debe durar como máximo 1 hora)</p>
          <div class="row">
            <div class="col form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  ng-model="user.availability"
                  name="availability"
                  id="id_availability_4"
                  value="4"
                  required
                >
                <label class="form-check-label" for="id_availability_4">
                  4 veces a la semana
                </label>
              </div>
            </div>
            <div class="col form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  ng-model="user.availability"
                  name="availability"
                  id="id_availability_3"
                  value="3"
                  required
                >
                <label class="form-check-label" for="id_availability_3">
                  3 veces a la semana
                </label>
              </div>
            </div>
            <div class="col form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  ng-model="user.availability"
                  name="availability"
                  id="id_availability_2"
                  value="2"
                  required
                >
                <label class="form-check-label" for="id_availability_2">
                  2 veces a la semana
                </label>
              </div>
            </div>
            <div class="col form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  ng-model="user.availability"
                  name="availability"
                  id="id_availability_1"
                  value="1"
                  required
                >
                <label class="form-check-label" for="id_availability_1">
                  1 vez a la semana
                </label>
              </div>
            </div>
          </div>
        </div>

				<div class="text-center p-5">
					<button type="button" class="btn btn-primary btn-lg px-5" ng-disabled="!mentorForm.$valid" ng-click="submit()">Enviar</button>
				</div>
      {% endverbatim %}
			</form>
		</div>

    <footer class="footer py-5">
      <div class="container">
          <div class="d-flex row text-light">
          <div class="align-self-center col-12 col-md-2">
              <img class="mx-auto ml-md-0 d-block img-fluid" src="{% static 'img/laureate.png' %}" alt="Laureate">
          </div>
          <div class="align-self-center col-12 col-md-7 pt-3 pt-md-0 text-center">
              <span class="small text-center font-helvetica-neue">Prolongación Primavera 2390, Monterrico, Santiago de Surco - Teléfono: 313-33333 / 610-5030</span>
          </div>
          <div class="align-self-center col-12 col-md-3 pt-3 pt-md-0 text-center text-md-right">
              <a class="text-light" target="_blank" href="https://www.facebook.com/upcedu/"><i class="fab fa-facebook-f"></i></a>
              <a class="text-light pl-4" target="_blank" href="https://twitter.com/upcedu"><i class="fab fa-twitter"></i></a>
              <a class="text-light pl-4" target="_blank" href="https://www.instagram.com/upc_peru_oficial/"><i class="fab fa-instagram"></i></a>
              <a class="text-light pl-4" target="_blank" href="https://www.youtube.com/user/UPCedupe"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </footer>

		<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/lodash/lodash.min.js' %}"></script>
		<script src="{% static 'vendor/angular/angular.min.js' %}"></script>
    <script src="{% static 'vendor/angular-cookies/angular-cookies.min.js' %}"></script>
		<script src="{% static 'js/mentor_form.js' %}"></script>
	</body>
</html>
