{% load static %}
<!doctype html>
<html ng-app="mentorApp" lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/theme.css' %}">

  <title>UPC Mentor</title>
</head>

<body class="mentor-index">
  <header class="header bg-dark">
    <div class="container min-vh-100 d-flex flex-column">
      <div class="row py-0 py-md-4">
        <div class="col pr-5 pt-3 pt-md-5 text-right">
          <img class="logo-upc img-fluid h-75" src="{% static 'img/logo_upc_white.png' %}" alt="UPC">
        </div>
      </div>
      <div class="row pb-5 px-1 pl-sm-3 flex-fill text-center">
        <div class="col-12 col-md-9 mx-auto p-0 p-sm-5 align-self-center">
          <h1 class="font-zizou-slab-bold text-white">Mentor UPC</h1>
          <p class="font-zizou-slab-light h5 mb-4 text-white">Comparte tus experiencias y ayuda a los postulantes de la
            UPC a elegir una carrera profesional y prepararse para el futuro.</p>
          <div class="row">
            <div class="col-12 col-md-8 mx-auto">
              <form id="loginForm" class="d-flex flex-fill" method="POST" action="">{% csrf_token %}
                <input type="text" id="id_idn" name="idn"
                  class="form-control form-control-lg rounded-right-0 font-zizou-slab-light"
                  placeholder="Ingresa tu DNI">
                <button type="submit" class="btn btn-lg btn-danger font-sgothic-bdcap rounded-left-0"><span
                    class="px-1 px-sm-3">Participar</span></button>
              </form>
              {% if form.idn.errors %}<div class="mt-2 py-1 help-text bg-danger text-white rounded">{{ form.idn.errors}}</div>{% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="py-5">
    <div class="container py-1 py-sm-5">
      <div class="row d-md-flex">
        <div class="col-12 col-md-6 p-md-5 align-self-center mb-5 mb-sm-0">
          <h2 class="font-sgothic-bdcap text-danger">Mentor UPC</h2>
          <p class="font-zizou-slab-regular">Tú que ya viviste la experiencia de elegir un carrera profesional, tienes
            ahora la oportunidad de ayudar a jóvenes como tú, que quieren seguir una carrera en la Facultad de
            Ingeniería, a tomar esta decisión.</p>
          <p class="font-zizou-slab-regular">Mentor Match es el nuevo programa online de la UPC diseñado para conectar
            Alumni como tú con uno o más postulantes que buscan seguir una carrera como la tuya.</p>
        </div>
        <div class="col-12 col-md-6 py-md-5 align-self-center">
          <img class="img-fluid" src="{% static 'img/mentor.png' %}">
        </div>
      </div>
    </div>
  </section>

  <section class="pb-5">
    <div class="container pb-5">
      <h2 class="text-center font-zizou-slab-bold mb-5">¿Cómo funciona?</h2>
      <div class="row text-center">
        <div class="col col-sm-4">
          <div class="py-4 mb-4"><img class="img-fluid" src="{% static 'img/icon-consulta.png' %}"></div>
          <div class="px-md-5">
            <h5 class="font-zizou-slab-bold mb-0">Consulta a un mentor</h5>
            <p class="font-zizou-slab-light lh-1">Selecciona un tema de interés y tendremos un mentor para ti. Te
              llegarán sus datos para contactarte con él.</p>
          </div>
        </div>
        <div class="col col-sm-4">
          <div class="py-4 mb-4"><img class="img-fluid" src="{% static 'img/icon-mentoria.png' %}"></div>
          <div class="px-md-5">
            <h5 class="font-zizou-slab-bold mb-0">Mentoría online</h5>
            <p class="font-zizou-slab-light lh-1">Mentor UPC hace fácil que te puedas conectar con un profesional de tu
              carrera graduado de la UPC que compartirá sus aprendizajes y experiencias contigo.</p>
          </div>
        </div>
        <div class="col col-sm-4">
          <div class="py-4 mb-4"><img class="img-fluid" src="{% static 'img/icon-conecta.png' %}"></div>
          <div class="px-md-5">
            <h5 class="font-zizou-slab-bold mb-0">Conecta</h5>
            <p class="font-zizou-slab-light lh-1">Empieza a vivir tu experiencia con Mentor UPC y te ayudaremos a tomar
              la mejor decisión.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-steps py-5">
    <div class="container py-5 text-light">
      <div class="text-center mb-5">
        <h3 class="text-center font-sgothic-bdcap">Pasos para participar</h3>
        <p class="font-zizou-slab-regular">Puede participar siguiente estos tres pasos:</p>
      </div>

      <div class="mx-3 mx-sm-5">
        <div class="row f-flex align-items-center">
          <div class="col-12 col-md-3 text-white px-0">
            <div class="nav flex-column nav-pills" id="tab-step-tab" role="tablist" aria-orientation="vertical">
              <a id="tab-step-1-tab" data-toggle="pill"
                class="nav-link active d-block rounded-0 mr-md-3 font-sgothic-bdcap h5 border border-white text-secondary py-3 px-5"
                href="#tab-step-1" aria-controls="tab-step-1" aria-selected="true">Paso 1: Inscríbete</a>
              <a id="tab-step-2-tab" data-toggle="pill"
                class="nav-link d-block rounded-0 mr-md-3 font-sgothic-bdcap h5 border border-white text-secondary py-3 px-5"
                href="#tab-step-2" aria-controls="tab-step-2" aria-selected="false">Paso 2: Conéctate</a>
              <a id="tab-step-3-tab" data-toggle="pill"
                class="nav-link d-block rounded-0 mr-md-3 font-sgothic-bdcap h5 border border-white text-secondary py-3 px-5"
                href="#tab-step-3" aria-controls="tab-step-3" aria-selected="false">Paso 3: Infórmate</a>
            </div>
          </div>
          <div class="col-12 col-md-9 px-0">
            <div class="tab-content p-1 p-sm-5 bg-white" id="tab-step-content">
              <div class="tab-pane fade show active" id="tab-step-1" rol="tabpanel" area-labelledby="tab-step-1-tab">
                <div class="row p-1 p-md-5 text-dark">
                  <div class="col-12 col-md-3 text-center text-md-left mb-2 mb-sm-0">
                    <img class="img-fluid" src="{% static 'img/step-1.png' %}" alt="Inscríbete">
                  </div>
                  <div class="col-12 col-md-9 text-center text-md-left">
                    <h3 class="font-zizou-slab-bold mb-4">Inscríbete</h3>
                    <p class="font-zizou-slab-regular mb-4 lh-1">Cuéntanos que tipo de ayuda estás buscando, ya sea una
                      pregunta sobre la experiencia universitaria, tu carrera o la vida profesional que te espera.</p>
                    <a href="#loginForm" class="btn btn-lg btn-danger text-white"><span
                        class="font-sgothic-bdcap px-5">Inscríbete</span></a>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-step-2" rol="tabpanel" area-labelledby="tab-step-2-tab">
                <div class="row p-1 p-md-5 text-dark">
                  <div class="col-12 col-md-3 text-center text-md-left mb-2 mb-sm-0">
                    <img class="img-fluid" src="{% static 'img/step-1.png' %}" alt="Inscríbete">
                  </div>
                  <div class="col-12 col-md-9 text-center text-md-left">
                    <h3 class="font-zizou-slab-bold mb-4">Te conectamos</h3>
                    <p class="font-zizou-slab-regular mb-4 lh-1">Te conectaremos con un egresado de la universidad que
                      pueda darte una orientación o consejo. Elije tu medio de contacto y empieza a conversar con tu
                      mentor.</p>
                    <a href="#loginForm" class="btn btn-lg btn-danger text-white"><span
                        class="font-sgothic-bdcap px-5">Inscríbete</span></a>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-step-3" rol="tabpanel" area-labelledby="tab-step-3-tab">
                <div class="row p-1 p-md-5 text-dark">
                  <div class="col-12 col-md-3 text-center text-md-left mb-2 mb-sm-0">
                    <img class="img-fluid" src="{% static 'img/step-1.png' %}" alt="Inscríbete">
                  </div>
                  <div class="col-12 col-md-9 text-center text-md-left">
                    <h3 class="font-zizou-slab-bold mb-4">¿Necesitas ayuda?</h3>
                    <p class="font-zizou-slab-regular mb-4 lh-1">Te brindaremos información y apoyo durante el proceso
                      para que puedas tomar una buena decisión en la elección de tu carrera.</p>
                    <a href="{% url 'mentormatch_app:form_mentee' %}" class="btn btn-lg btn-danger text-white"><span
                        class="font-sgothic-bdcap px-5">Inscríbete</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light py-0 py-md-5">
    <div class="container py-1 py-sm-5">
      <div class="text-center mb-5">
        <h3 class="text-center font-sgothic-bdcap">¿Quiéres saber más?</h3>
        <p class="font-zizou-slab-light">Te damos un poco de información para que te prepares</p>
      </div>
      <div class="d-flex align-items-stretch row">
        <div class="col-12 col-sm-6 col-md-3 p-3">
          <div class="border border-soft bg-white py-3 px-2 h-100">
            <div class="text-center mb-4">
              <h4 class="font-sgothic-bdcap text-danger">Mentor</h4>
              <img class="img-fluid my-4" src="{% static 'img/icon-black-mentores.png' %}" alt="Mentores">
              <p class="font-zizou-slab-light lh-1">Conoce tu función como mentor.</p>
            </div>
            <div class="text-center">
              <a href="{% url 'mentormatch_app:mentor_preguntas' %}" class="btn btn-dark"><span
                  class="font-sgothic-bdcap px-4">Conoce más</span></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-3">
          <div class="border border-soft bg-white py-3 px-2 h-100">
            <div class="text-center mb-4">
              <h4 class="font-sgothic-bdcap text-danger">Consejos</h4>
              <img class="img-fluid my-4" src="{% static 'img/icon-black-consejos.png' %}" alt="Consejos">
              <p class="font-zizou-slab-light lh-1">Te ayudarán a sacarle provecho a esta experiencia.</p>
            </div>
            <div class="text-center">
              <a href="{% url 'mentormatch_app:mentor_consejos' %}" class="btn btn-dark"><span
                  class="font-sgothic-bdcap px-4">Ver consejos</span></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-3">
          <div class="border border-soft bg-white py-3 px-2 h-100">
            <div class="text-center mb-4">
              <h4 class="font-sgothic-bdcap text-danger">Novedades</h4>
              <img class="img-fluid my-4" src="{% static 'img/news.png' %}" alt="Novedades">
              <p class="font-zizou-slab-light lh-1">Conoce las últimas novedades de la UPC en nuestro portal.</p>
            </div>
            <div class="text-center">
              <a href="{% url 'mentormatch_app:ask_mentee' %}" class="btn btn-dark"><span
                  class="font-sgothic-bdcap px-4">Ver preguntas</span></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-3">
          <div class="border border-soft bg-white py-3 px-2 h-100">
            <div class="text-center mb-4">
              <h4 class="font-sgothic-bdcap text-danger">Comunidad</h4>
              <img class="img-fluid my-4" src="{% static 'img/thumb-up.png' %}" alt="Comunidad">
              <p class="font-zizou-slab-light lh-1">Únete a nuestra comunidad Alumni UPC en redes sociales.</p>
            </div>
            <div class="row text-center">
              <div class="col-6 text-right">
                <a href="#" class="btn btn-facebook rounded-circle"><i class="fab fa-facebook-f pr-1"></i></a>
              </div>
              <div class="col-6 text-left">
                <a href="#" class="btn btn-linkedin rounded-circle"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-0 py-md-5">
    <div class="container py-5 text-center text-dark">
      <div class="mb-5">
        <h3 class="font-zizou-slab-bold">Beneficios</h3>
        <p class="h6 font-zizou-slab-regular">Los grandes mentores estás constantemente aprendiendo, es por ello que al
          inscribirte en este programa podrás:</p>
      </div>
      <div class="row pt-5">
        <div class="col-12 col-sm mb-5 mb-sm-0">
          <img class="img-fluid my-4" src="{% static 'img/interact.png' %}"
            alt="Participar de nuestro coctel de bienvenida">
          <h5 class="font-zizou-slab-bold">Participar de nuestro coctel de bienvenida</h5>
          <p class="font-zizou-slab-regular">Participa de nuestro coctel, recibe un kit de bienvenida y tómate una foto
            profesional para tu perfil de LinkedIn.</p>
        </div>
        <div class="col-12 col-sm mb-5 mb-sm-0">
          <img class="img-fluid my-4" src="{% static 'img/talk.png' %}" alt="Potencias tus habilidades de liderazgo">
          <h5 class="font-zizou-slab-bold">Potencias tus habilidades de liderazgo</h5>
          <p class="font-zizou-slab-regular">Participa en conferencias y talleres que tenemos para ti.</p>
        </div>
        <div class="col-12 col-sm">
          <img class="img-fluid my-4" src="{% static 'img/spread.png' %}" alt="Extender tu desarrollo profesional">
          <h5 class="font-zizou-slab-bold">Extender tu desarrollo profesional</h5>
          <p class="font-zizou-slab-regular">Actualízate en temas de desarrollo de tu carrera. Cuentas con un descuento
            de 15% en nuestra Escuela de Postgrado.</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer py-5">
    <div class="container">
      <div class="d-flex row text-light">
        <div class="align-self-center col-12 col-md-2">
          <img class="mx-auto ml-md-0 d-block img-fluid" src="{% static 'img/laureate.png' %}" alt="Laureate">
        </div>
        <div class="align-self-center col-12 col-md-7 pt-3 pt-md-0 text-center">
          <span class="small text-center font-helvetica-neue">Prolongación Primavera 2390, Monterrico, Santiago de Surco
            - Teléfono: 313-33333 / 610-5030</span>
        </div>
        <div class="align-self-center col-12 col-md-3 pt-3 pt-md-0 text-center text-md-right">
          <a class="text-light" target="_blank" href="https://www.facebook.com/upcedu/"><i
              class="fab fa-facebook-f"></i></a>
          <a class="text-light pl-4" target="_blank" href="https://twitter.com/upcedu"><i
              class="fab fa-twitter"></i></a>
          <a class="text-light pl-4" target="_blank" href="https://www.instagram.com/upc_peru_oficial/"><i
              class="fab fa-instagram"></i></a>
          <a class="text-light pl-4" target="_blank" href="https://www.youtube.com/user/UPCedupe"><i
              class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>

</html>
