{% load static %}
<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

		<title>UPC - Preguntas Frecuentes</title>
	</head>
	<body class="mentor-preguntas">
    <header class="header position-relative">
      <div class="container">
        <div class="row py-4">
          <div class="col"></div>
          <div class="col pr-5 text-right">
            <img class="logo-upc img-fluid h-75" src="{% static 'img/logo_upc_white.png' %}" alt="UPC">
          </div>
        </div>
        <div class="row py-5 pl-3">
          <div class="col-12 col-md-6 p-5 text-white">
            <h3 class="font-zizou-slab-bold mb-0">Preguntas</h3>
            <h1 class="font-zizou-slab-bold">frecuentes</h1>
            <p class="font-zizou-slab-regular h5">¡Estamos aquí para resolver tus dudas!</p>
          </div>
        </div>
        <div class="row py-3 text-center"></div>
      </div>
    </header>

    <section class="container py-5 text-dark font-zizou-slab-regular">
      <div class="mb-5">
        <a
          class="font-zizou-slab-bold text-dark h5 d-block"
          data-toggle="collapse"
          href="#question1"
          role="button"
          aria-expanded="false"
          aria-controls="question1"
        >
          ¿Qué es Mentor Match?
          <i class="float-right fas fa-chevron-down"></i>
        </a>
        </p>
        <div class="collapse pr-5 h6" id="question1">
          Es la oportunidad para que graduados de la UPC puedan hacer contacto y ayudar a postulantes compartiendo sus experiencias, visión y consejo para ayudarlos a resolver las consultas que tengan sobre su carrera.
        </div>
      </div>
      <div class="mb-5">
        <a
          class="font-zizou-slab-bold text-dark h5 d-block"
          data-toggle="collapse"
          href="#question2"
          role="button"
          aria-expanded="false"
          aria-controls="question2"
        >
          ¿Cómo participo?
          <i class="float-right fas fa-chevron-down"></i>
        </a>
        </p>
        <div class="collapse pr-5 h6" id="question2">
          Sólo llena el formulario de inscripción para empezar. Puedes modificar tus elecciones o retirarte del programa en cualquier momento.
        </div>
      </div>
      <div class="mb-5">
        <a
          class="font-zizou-slab-bold text-dark h5 d-block"
          data-toggle="collapse"
          href="#question3"
          role="button"
          aria-expanded="false"
          aria-controls="question3"
        >
          ¿Cuánto tiempo tomará?
          <i class="float-right fas fa-chevron-down"></i>
        </a>
        </p>
        <div class="collapse pr-5 h6" id="question3">
          Tú decides cuánto o qué tan seguido deseas conectar con postulantes, sólo escoge la frecuencia más adecuada para ti al momento de inscribirte.
        </div>
      </div>
      <div class="mb-5">
        <a
          class="font-zizou-slab-bold text-dark h5 d-block"
          data-toggle="collapse"
          href="#question4"
          role="button"
          aria-expanded="false"
          aria-controls="question4"
        >
          ¿Cómo seleccionan un postulante adecuado para mi?
          <i class="float-right fas fa-chevron-down"></i>
        </a>
        </p>
        <div class="collapse pr-5 h6" id="question4">
          Conectamos egresados con postulantes basados en las características que comparten, su disponibilidad, cómo desean conectarse y sobre qué temas desean hablar. Dándonos la información más completa y exacta en tu solicitud, nos ayudas a asegurar que te contactemos con el postulante más afín a ti.
        </div>
      </div>
      <div class="mb-5">
        <a
          class="font-zizou-slab-bold text-dark h5" d-block
          data-toggle="collapse"
          href="#question5"
          role="button"
          aria-expanded="false"
          aria-controls="question5"
        >
          ¿Qué sucede si no puedo ayudar al postulante con el que fui conectado?
          <i class="float-right fas fa-chevron-down"></i>
        </a>
        </p>
        <div class="collapse pr-5 h6" id="question5">
          Si no te sientes preparado para responder alguna pregunta de algún postulante, no te preocupes, nos puedes consultar. Nosotros lo pondremos en contacto con otro egresado o lo derivaremos a otra área de ayuda de la UPC de ser necesario.
        </div>
      </div>
      <div class="mb-0">
        <a
          class="font-zizou-slab-bold text-dark h5 d-block"
          data-toggle="collapse"
          href="#question6"
          role="button"
          aria-expanded="false"
          aria-controls="question6"
        >
          ¿Qué sucede si el postulante desea reunirse conmigo?
          <i class="float-right fas fa-chevron-down"></i>
        </a>
        </p>
        <div class="collapse pr-5 h6" id="question6">
          Tú y el postulante con el cual has sido conectado pueden decidir reunirse personalmente. Nosotros les damos información básica para ayudarles a conectarse, por correo, teléfono o chat.
        </div>
      </div>

      <div class="py-5">
        Si tienes alguna pregunta adicional, escríbenos <a href="mailto:upcalumni@upc.pe" class="text-danger">upcalumni@upc.pe</a>
      </div>
      <div class="py-5 text-center">
        <a class="btn btn-primary btn-lg mr-2" href="{% url 'mentormatch_app:mentor_index' %}"><span class="font-sgothic-bdcap px-5">Volver</span></a>
      </div>
    </section>

    <footer class="footer py-5">
      <div class="container">
        <div class="d-flex row text-light">
          <div class="align-self-center col-12 col-md-2">
            <img class="mx-auto ml-sm-0 d-block img-fluid" src="{% static 'img/laureate.png' %}" alt="Laureate">
          </div>
          <div class="align-self-center col-12 col-md-7 pt-3 pt-sm-0 text-center">
            <span class="small text-center font-helvetica-neue">Prolongación Primavera 2390, Monterrico, Santiago de Surco - Teléfono: 313-33333 / 610-5030</span>
          </div>
          <div class="align-self-center col-12 col-md-3 pt-3 pt-sm-0 text-center text-md-right">
            <a class="text-light" target="_blank" href="https://www.facebook.com/upcedu/"><i class="fab fa-facebook-f"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://twitter.com/upcedu"><i class="fab fa-twitter"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://www.instagram.com/upc_peru_oficial/"><i class="fab fa-instagram"></i></a>
            <a class="text-light pl-4" target="_blank" href="https://www.youtube.com/user/UPCedupe"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/faq.js' %}"></script>
	</body>
</html>
