{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mentorship</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
  </head>
  <body class="mentor-thanks">
    <header class="bg-dark header container-fluid d-flex flex-column">
      <div class="header-wrap flex-fill py-5">
        <div class="container">
          <div class="row py-0 py-md-4">
            <div class="col text-right">
              <img class="logo-upc img-fluid h-75" src="{% static 'img/logo_upc_white.png' %}" alt="UPC">
            </div>
          </div>
          <div class="text-light py-5">
            <h3 class="font-zizou-slab-bold">Comparte tus</h3>
            <h1 class="font-zizou-slab-bold">experiencias</h1>
            <h6 class="font-zizou-slab-regular">Regístrate como Mentor y resuelve las dudas de<br>postulantes con tu experiencia en la UPC.</h6>
          </div>
        </div>
      </div>
    </header>

    <section class="container py-5">
      <div class="text-center mx-5 pt-5 pb-3">
        <img class="d-block mx-auto img-fluid mb-3" src="{% static 'img/check.jpg' %}" alt="{{ mentee_name }}">
        <h2 class="font-zizou-slab-bold text-secondary">¡Gracias por registrarte {{ request.user.first_name }}!</h2>
      </div>
      <div class="px-5 pb-5 text-center text-dark">
        <p class="h6 font-zizou-slab-regular mb-4 px-5">Acabas de tomar una decisión muy importante al aceptar conectar con postulantes a la UPC.</p>
        <p class="h6 font-zizou-slab-regular mb-0 px-5">Nos comunicaremos contigo cuando un mentee solicite una consulta en algún tema que elegiste orientar o aconsejar.</p>
        <p class="h6 font-zizou-slab-regular px-5">Te invitamos a revisar más información de la labor de los mentores para una mejor experiencia en este programa Mentor Match.</p>
      </div>
      <div class="px-5 pt-3 mb-5 text-center">
        <a class="btn btn-primary btn-lg font-sgothic-bdcap" href="{% url 'mentormatch_app:ask_mentee' %}"><span class="px-5">Conoce más<span></a>
      </div>
    </section>

    <footer class="footer py-5">
      <div class="container">
          <div class="d-flex row text-light">
          <div class="align-self-center col-12 col-md-2">
              <img class="mx-auto ml-md-0 d-block img-fluid" src="{% static 'img/laureate.png' %}" alt="Laureate">
          </div>
          <div class="align-self-center col-12 col-md-7 pt-3 pt-md-0 text-center">
              <span class="small text-center font-helvetica-neue">Prolongación Primavera 2390, Monterrico, Santiago de Surco - Teléfono: 313-33333 / 610-5030</span>
          </div>
          <div class="align-self-center col-12 col-md-3 pt-3 pt-md-0 text-center text-md-right">
              <a class="text-light" target="_blank" href="https://www.facebook.com/upcedu/"><i class="fab fa-facebook-f"></i></a>
              <a class="text-light pl-4" target="_blank" href="https://twitter.com/upcedu"><i class="fab fa-twitter"></i></a>
              <a class="text-light pl-4" target="_blank" href="https://www.instagram.com/upc_peru_oficial/"><i class="fab fa-instagram"></i></a>
              <a class="text-light pl-4" target="_blank" href="https://www.youtube.com/user/UPCedupe"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
  </body>
</html>
