{% load bootstrap4 i18n static tz %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_timezone as TIME_ZONE %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" ng-apps="{% block ngApps %}{% endblock ngApps %}" tz="{{ TIME_ZONE }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="apple-touch-icon" href="{% static 'panel/img/apple/touch-icon-iphone.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'panel/img/apple/touch-icon-ipad.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'panel/img/apple/touch-icon-iphone-retina.png' %}">
  <link rel="apple-touch-icon" sizes="167x167" href="{% static 'panel/img/apple/touch-icon-ipad-retina.png' %}">

  <link rel="icon" sizes="32x32" href="{% static 'panel/img/favicons/favicon-32.png' %}">
  <link rel="icon" sizes="128x128" href="{% static 'panel/img/favicons/favicon-128.png' %}">
  <link rel="icon" sizes="167x167" href="{% static 'panel/img/favicons/favicon-167.png' %}">
  <link rel="icon" sizes="180x180" href="{% static 'panel/img/favicons/favicon-180.png' %}">
  <link rel="icon" sizes="192x192" href="{% static 'panel/img/favicons/favicon-192.png' %}">

  <link rel="shortcut icon" sizes="196x196" href="{% static 'panel/img/favicons/favicon-196.png' %}">

  {% block meta_header %}{% endblock meta_header %}

  <title>{% block title %}| Estudio COVID{% endblock title %}</title>

  <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/animate.css/animate.min.css' %}">
  <link rel="stylesheet"
    href="{% static 'node_modules/pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/metismenu/dist/metisMenu.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/toastr/build/toastr.min.css' %}">
  <link rel="stylesheet" href="{% static 'panel/css/style.css' %}">
  {% block css_header %}{% endblock css_header %}
  <link rel="stylesheet" href="{% static 'panel/css/custom.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% block scripts_header %}{% endblock scripts_header %}
</head>

<body>
  <div id="wrapper">
    {% if not view.is_popup %}
    {% include "panel/blocks/_sidebar.html" %}
    {% endif %}

    <div {% if not view.is_popup %}id="page-wrapper"{% endif %} class="gray-bg">
      {% if not view.is_popup %}
      {% include "panel/blocks/_top-navigation.html" %}
      {% endif %}

      {% block page_header_wrap %}
      <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-8">
          {% block page_header %}{% endblock page_header %}
          {% if not view.is_popup %}
          {% block breadcrumb %}{% endblock breadcrumb %}
          {% endif %}
        </div>
        <div class="col-sm-4">
          <div class="title-action">
            {% block page_actions %}{% endblock page_actions %}
          </div>
        </div>
      </div>
      {% endblock page_header_wrap %}

      <div id="mainContent" class="wrapper wrapper-content animated fadeIn">
        {% bootstrap_messages %}

        {% block content %}{% endblock content %}
      </div>

      {% include "panel/blocks/_footer.html" %}
    </div>
  </div>

  {% block css_footer %}{% endblock css_footer %}

  <script src="{% url 'javascript-catalog' %}"></script>
  <script src="{% static 'node_modules/@sentry/browser/build/bundle.min.js' %}"></script>
  <script src="{% static 'node_modules/@sentry/tracing/build/bundle.tracing.min.js' %}"></script>
  <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'node_modules/moment/min/moment.min.js' %}"></script>
  <script src="{% static 'node_modules/moment/min/locales.min.js' %}"></script>
  <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'node_modules/clipboard/dist/clipboard.min.js' %}"></script>
  <script src="{% static 'node_modules/toastr/build/toastr.min.js' %}"></script>
  <script src="{% static 'node_modules/metismenu/dist/metisMenu.min.js' %}"></script>
  <script src="{% static 'node_modules/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'node_modules/pc-bootstrap4-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'node_modules/pace-js/pace.min.js' %}"></script>
  <script src="{% static 'panel/js/inspinia.js' %}"></script>
  <script src="{% static 'panel/js/main.js' %}"></script>
  {% if settings.SENTRY_DSN %}
  <script>
    Sentry.init({
      dsn: '{{ settings.SENTRY_DSN }}',
      integrations: [
        new Sentry.Integrations.BrowserTracing(),
      ],
      tracesSampleRate: parseFloat({{ settings.SENTRY_SAMPLE_RATE }})
    });
    {% if request.user.is_authenticated %}
    Sentry.setUser({
      email: '{{ request.user.email }}',
      id: {{ request.user.id }},
    });
    {% endif %}

  </script>
  {% endif %}
  {% block scripts_footer %}{% endblock scripts_footer %}
</body>

</html>
