{% load bootstrap4 i18n static tz %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_timezone as TIME_ZONE %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" ng-apps="{% block ngApps %}{% endblock ngApps %}" tz="{{ TIME_ZONE }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="apple-touch-icon" href="{% static 'panel/img/apple/touch-icon-iphone.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'panel/img/apple/touch-icon-ipad.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'panel/img/apple/touch-icon-iphone-retina.png' %}">
  <link rel="apple-touch-icon" sizes="167x167" href="{% static 'panel/img/apple/touch-icon-ipad-retina.png' %}">

  <link rel="icon" sizes="32x32" href="{% static 'panel/img/favicons/favicon-32.png' %}">
  <link rel="icon" sizes="128x128" href="{% static 'panel/img/favicons/favicon-128.png' %}">
  <link rel="icon" sizes="167x167" href="{% static 'panel/img/favicons/favicon-167.png' %}">
  <link rel="icon" sizes="180x180" href="{% static 'panel/img/favicons/favicon-180.png' %}">
  <link rel="icon" sizes="192x192" href="{% static 'panel/img/favicons/favicon-192.png' %}">

  <link rel="shortcut icon" sizes="196x196" href="{% static 'panel/img/favicons/favicon-196.png' %}">

  {% block meta_header %}{% endblock meta_header %}

  <title>{% block title %}| Estudio COVID{% endblock title %}</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/animate.css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'panel/css/style.css' %}">

  {% block css_header %}{% endblock css_header %}
  {% block scripts_header %}{% endblock scripts_header %}
</head>

<body class="gray-bg">

  {% block content %}{% endblock %}

  <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  {% block scripts_footer %}{% endblock %}
</body>

</html>
