.empty-form {
    display: none;
}

.related-widget-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-link {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

input[disabled] {
    -webkit-appearance: none;
}

select[disabled] {
    -webkit-appearance: none;
}

.invalid-feedback {
    display: block;
}

.max-vh {
    &-25 {
        max-height: 25vh!important;
    }

    &-50 {
        max-height: 50vh!important;
    }

    &-100 {
        max-height: 100vh!important;
    }
}

.player-container {
    .controls {
        &:hover {
            cursor: pointer;
        }
    }
    .control {
        opacity: 0;
        pointer-events: none;
        cursor: pointer;
    }

    .not-started .play, .paused .play {
        opacity: 1;
    }

    .playable .play {
        opacity: 1;
    }

    .playing .pause {
        opacity: 1;
    }

    .playing .play {
        opacity: 0;
    }

    .ended .stop {
        opacity: 1;
        pointer-events: none;
    }

    .precache-bar .done {
        opacity: 0;
    }

    .not-started .progress-bar, .ended .progress-bar {
        display: none;
    }

    .ended .progress-track {
        stroke-opacity: 1;
    }

    .progress-bar, .precache-bar {
        transition: stroke-dashoffset 500ms;
        stroke-dasharray: 298.1371428256714;
        stroke-dashoffset: 298.1371428256714;
    }
}



.select2-container {
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto!important;
    min-width: 10em;

    &--default {
        &.select2-container--focus {
            .select2-selection {
                &--single {
                    border-color: #1ab394;
                }

                &--multiple {
                    border-color: #1ab394;
                }
            }

        }

        .select2-selection {
            &--single {
                border-radius: 0;

                &[aria-expanded="true"] {
                    border-color: #1ab394;
                }

                &.is-invalid {
                    border-color: #dc3545;
                }

                .select2-selection__rendered {
                    line-height: 24px;
                }

                .select2-selection__arrow {
                    height: 34px;
                }
            }

            &--multiple {
                border-color: #e5e6e7;
                border-radius: 0;
                height: auto;
                padding: 2px 12px;

                &.is-invalid {
                    border-color: #dc3545;
                }
            }
        }
    }

    .select2-selection {
        &--single {
            border: 1px solid #e5e6e7;
            height: calc(1.5em + .75rem + 2px);

            .select2-selection__rendered {
                padding-left: 0px;
            }

            &.form-control-sm {
                height: calc(1.5em + .5rem + 1px);
                padding: 3px 10px;

                .select2-selection__arrow {
                    height: 29px;
                }
            }
        }
    }
}

.select2 {
    &-search {
        &__field {
            border: 1px solid #e5e6e7;
        }
    }
}

.select2-dropdown {
    border-color: #1ab394;
}

.dropzone {
    border: 1px solid #e5e6e7;
}

th {
    &.hide {
        display: none!important;
    }
}

td {
    &.hide {
        display: none!important;
    }

    &.delete {
        vertical-align: middle!important;

        a.btn {
            margin-bottom: 0!important;
        }
    }
}
