{% extends "admin/change_list.html" %}
{% load i18n admin_static %}

{% block object-tools-items %}
{{ block.super }}
{% if perms.upc_mentormatch.create_mentor_for_csv %}
    <li>
        <a href="{% url 'mentormatch_app:create_mentor' %}" class="btn btn-high btn-success">Create Por csv</a>
    </li>
{% endif %}
{% endblock %}