{% extends "admin/base_site.html" %}
{% block title%}
    Importar CSV {{block.super}}
{% endblock %}
{% block pretitle %}Crear Mentor por csv{% endblock %}
{% block content_title %}<h1>Import CSV</h1>{% endblock %}
{% block content %}
<form method='POST' action='.' enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="enviar">
</form>
<p><b>ejemplo</b></p>
<p>name,father_name,mother_name,document_number,is_active,career_id,availability_id,graduation_year,email,phone,linkedin,skype,is_email_preferred,is_phone_preferred,is_linkedin_preferred,is_skype_preferred,period,topics</p>
<p>TestName2,FatherName,MotherName,01234567,False,3,2,2013,testemail2@upc.com,012344566,,,True,,,,2,"2,1"</p>
 <table>
  <tr>
    <th>name</th>
    <th>father_name</th>
    <th>mother_name</th>
    <th>document_number</th>
    <th>is_active</th>
    <th>career_id</th>
    <th>availability_id</th>
    <th>graduation_year</th>
    <th>email</th>
    <th>phone</th>
    <th>linkedin</th>
    <th>skype</th>
    <th>is_email_preferred</th>
    <th>is_phone_preferred</th>
    <th>is_linkedin_preferred</th>
    <th>is_skype_preferred</th>
    <th>period</th>
    <th>topics</th>
  </tr>
  <tr>
    <td>Name</td>
    <td>Father</td>
    <td>Mother</td>
    <td>00</td>
    <td>False</td>
    <td>3</td>
    <td>2</td>
    <td>2013</td>
    <td>u@p.c</td>
    <td>00</td>
    <td></td>
    <td></td>
    <td>True</td>
    <td>False</td>
    <td>False</td>
    <td>False</td>
    <td>2</td>
    <td>"1,2"</td>
  </tr>
</table> 
{% endblock content %}