{% extends 'panel/layout.html' %}

{% load i18n static %}

{% block title %}{% trans "Your account" %} {{ block.super }}{% endblock title %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'panel:index' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active"><strong>{% trans "Your account" %}</strong></li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block page_header %}<h2>{% trans "Your account" %}</h2>{% endblock %}

{% block page_actions %}
<a class="btn btn-info" role="button" href="{% url "panel:account_change" %}">
  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
  {% trans "Change" %}
</a>
<a class="btn btn-success" role="button" href="{% url "panel:account_password_change" %}">
  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
  {% trans "Password change" %}
</a>
{% endblock %}

{% block content %}
<div class="ibox">
  <div class="ibox-content">
    <table class="table table-sm table-borderless">
      <tbody>
        <tr>
          <th class="w-25 text-right">{% trans "Name" %}</th>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <th class="w-25 text-right">{% trans "Last name" %}</th>
          <td>{{ object.lastname }}</td>
        </tr>
        <tr>
          <th class="w-25 text-right">{% trans "Second last name" %}</th>
          <td>{{ object.second_lastname }}</td>
        </tr>
        <tr>
          <th class="w-25 text-right">{% trans "Email" %}</th>
          <td>{{ object.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
