{% extends "panel/layout-simple.html" %}

{% load i18n %}

{% block title %}{{ title }} {{ block.super }}{% endblock title %}

{% block content %}
  <div class="passwordBox animated fadeInDown">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox-content">
          <h2 class="font-bold">{{ title }}</h2>
          {% if validlink %}
            <p>{% blocktrans %}Enter your your new password twice to restore your account.{% endblocktrans %}</p>
            <div class="row">
              <div class="col-lg-12">
                <form class="m-t" method="post" role="form" action="">
                  {% trans "Change password" as form_submit %}
                  {% include "panel/snippets/_form-simple.html" %}
                </form>
              </div>
            </div>
          {% else %}
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
            <a class="btn btn-primary btn-block" href="{% url 'panel:account_password_reset' %}">{% trans "Password reset" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row"><p class="col m-t text-center"><small>{% include 'panel/blocks/_footer-text.html' %}</small></p></div>
  </div>
{% endblock content %}
