{% extends "panel/layout-simple.html" %}

{% load i18n %}

{% block title %}{{ title }} {{ block.super }}{% endblock title %}

{% block content %}
  <div class="passwordBox animated fadeInDown">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox-content">
          <h2 class="font-bold">{% trans "Password reset" %}</h2>
          <p>{% trans "Enter your email address and your password will be reset and emailed to you." %}</p>

          <div class="row">
            <div class="col-lg-12">
              <form class="m-t" method="post" role="form" action="" novalidate>
                {% trans "Password reset" as form_submit %}
                {% include "panel/snippets/_form-simple.html" %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row"><p class="col m-t text-center"><small>{% include 'panel/blocks/_footer-text.html' %}</small></p></div>
  </div>
{% endblock content %}
