{% extends "panel/layout-simple.html" %}

{% load i18n %}

{% block title %}{{ title }} {{ block.super }}{% endblock title %}

{% block content %}
  <div class="passwordBox animated fadeInDown">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox-content">
          <h2 class="font-bold">{{ title }}</h2>

          <div class="row">
            <div class="col-lg-12">
              <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

              <p><a class="btn btn-block btn-primary" href="{% url 'panel:account_login' %}">{% trans 'Log in' %}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row"><p class="col m-t text-center"><small>{% include 'panel/blocks/_footer-text.html' %}</small></p></div>
  </div>
{% endblock content %}
