{% extends "panel/layout-simple.html" %}

{% load i18n %}

{% block title %}{{ title }} {{ block.super }}{% endblock title %}

{% block content %}
  <div class="passwordBox animated fadeInDown">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox-content">
          <h2 class="font-bold">{{ title }}</h2>

          <div class="row">
            <div class="col-lg-12">
              <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
              <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
              <a class="btn btn-primary btn-block" href="{% url 'panel:account_login' %}">{% trans "Log in" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row"><p class="col m-t text-center"><small>{% include 'panel/blocks/_footer-text.html' %}</small></p></div>
  </div>
{% endblock content %}
