{% extends 'panel/base/list.html' %}

{% load djaneiro i18n %}

{% block content_inner %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{% trans "pregunta" %}</th>
      <th scope="col">{% trans "tipo" %}</th>
      <th class="text-right" scope="col">{% trans "orden" %}</th>
      <th scope="col" class="text-right">{% trans "options" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <th scope="row"><a href="{{ object.get_absolute_url }}">{{ object }}</a></th>
      <td>{{ object.get_question_type_display }}</td>
      <td class="text-right">{{ object.ordering_position }}</td>
      <td class="text-right">{% action_buttons size='xs' %}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center text-muted">
        {% trans "No records." %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
