{% extends 'panel/base/detail.html' %}

{% load i18n %}

{% block content %}
<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>{% trans "details" %}</h5>
  </div>
  <div class="ibox-content">
    <table class="table table-borderless table-sm">
      <tbody>
        <tr>
          <th class="text-right w-25">{% trans "Texto de la pregunta" %}</th>
          <td>{{ object }}</td>
        </tr>
        <tr>
          <th class="text-right w-25">{% trans "Tipo de pregunta" %}</th>
          <td>{{ object.get_question_type_display }}</td>
        </tr>
        <tr>
          <th class="text-right w-25">{% trans "Indicaciones para el entrevistador" %}</th>
          <td>{{ object.interviewer_instructions }}</td>
        </tr>
        <tr>
          <th class="text-right w-25">{% trans "Orden de aparición en el cuestionario" %}</th>
          <td>{{ object.ordering_position }}</td>
        </tr>
        <tr>
          <th class="text-right w-25">{% trans "Valor mínimo permitido" %}</th>
          <td>{{ object.min_value|default_if_none:'' }}</td>
        </tr>
        <tr>
          <th class="text-right w-25">{% trans "Valor máximo permitido" %}</th>
          <td>{{ object.max_value|default_if_none:'' }}</td>
        </tr>
        <tr>
          <th class="text-right w-25">{% trans "¿Aceptar otra respuesta?" %}</th>
          <td>
            <i class="fas fa-{{ object.other_answer|yesno:'check,times' }} text-{{ object.other_answer|yesno:'success,danger' }}"></i>
          </td>
        </tr>
        <tr>
          <th class="text-right w-25">{% trans "nombre de variable" %}</th>
          <td><pre>{{ object.variable_name }}</pre></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>{% trans "alternativas" %}</h5>
  </div>
  <div class="ibox-content">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">{% trans "Texto de la alternativa" %}</th>
          <th class="text-right" scope="col">{% trans "Orden de aparición dentro de la pregunta" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for choice in object.choice_entries.all %}
        <tr>
          <th scope="row">{{ choice.text }}</th>
          <td class="text-right">{{ choice.ordering_position }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

