{% load i18n %}


{% if not view.is_popup %}
  <div class="footer">
    <div class="row">
      <div class="col ml-auto">
        <strong>{% trans "Copyright" %}</strong> &copy; {% now 'Y' %}.
        {% include 'panel/blocks/_footer-text.html' %}
      </div>
    </div>
  </div>
{% endif %}
