{% load i18n %}

<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown visible-xs-inline-block">
        <a class="dropdown-toggle" href="{% url 'panel:account_detail' %}" data-toggle="dropdown"><i
            class="fa fa-user"></i></a>
        <ul class="dropdown-menu">
          {% if request.user.is_staff %}
          <li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
          <li class="divider"></li>
          {% endif %}
          <li><a href="{% url 'panel:account_detail' %}">{% trans 'Profile' %}</a></li>
        </ul>
      </li>
      <li>
        <a href="{% url 'panel:account_logout' %}"><i class="fa fa-sign-out"></i> {% trans "logout" %}</a>
      </li>
    </ul>
  </nav>
</div>
